interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&app_name=python_wrapper&app_version=1.0.1&deleted_only=false&has_hyphen=true&has_number=true&max_length=25&min_length=2&page=1&query=google
  response:
    content: '{"response":{"query_info":{"exclude_query":"","anchor_left":false,"anchor_right":false,"has_number":true,"has_hyphen":true,"min_length":2,"max_length":25,"active_only":false,"deleted_only":false,"limit":100,"total_results":172385,"page":1},"results":[{"sld":"google","tlds":["ac","ac.cn","ac.vn","ad","adult","adv.br","ae","aero","af","africa","ag","ah.cn","ai","al","alsace","am","am.br","amsterdam","app","ar","archi","art","as","asia","at","au","audio","auto","autos","aw","ax","az","ba","baby","bar","barcelona","basketball","bayern","bbs.tr","be","beauty","berlin","bet","bf","bg","bh","bi","bio","biz","biz.id","biz.pk","biz.pl","biz.tr","biz.ua","biz.vn","bj","bj.cn","blackfriday","blog","bo","boats","bond","boston","bot","broker","bs","bt","business","by","bydgosz[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&app_name=python_wrapper&app_version=1.0.1&deleted_only=false&exclude_query=domaintools+ff1toolsdomain&has_hyphen=true&has_number=true&max_length=25&min_length=2&page=1&query=domain+tools
  response:
    content: '{"response":{"query_info":{"exclude_query":"domaintools ff1toolsdomain","anchor_left":false,"anchor_right":false,"has_number":true,"has_hyphen":true,"min_length":2,"max_length":25,"active_only":false,"deleted_only":false,"limit":100,"total_results":233,"page":1},"results":[{"sld":"domain-tools","tlds":["ch","co","co.uk","com","de","eu","in.th","it","me","ml","net","org","ru","uk","xyz"],"hashad_tlds":["app","asia","biz","ca","ch","cn","co","co.uk","com","com.au","com.br","com.cn","de","eu","in","in.th","info","io","ir","it","me","ml","net","net.au","org","pw","ru","sk","tk","uk","us","xyz"],"char_count":12,"tlds_count":15,"has_hyphen":1,"has_number":0,"has_deleted":1,"has_active":1},{"sld":"mlmtoolshopdomains","tlds":["biz","com","info","net","org"],"hashad_tlds":["biz","com","info","mobi","net","org"],"char_count":18,"tlds_count":5,"has_hyphen":0,"has_number":0,"has_deleted":1,"has_active":1},{"sld":"domainnametools","tlds":["com","de","net","org"],"hashad_tlds":["co","co.uk","com","de","in","info","ir","net","org","us"],"char_count":15,"tlds_count":4,"has_hyphen":0,"has_number":0,"has_deleted":1,"has_active":1},{"sld":"domainetools","tlds":["com","fr","net"],"hashad_tl[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&app_name=python_wrapper&app_version=2.2.0&deleted_only=false&has_hyphen=true&has_number=true&max_length=25&min_length=2&page=1&query=google
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA+196ZLiSo/2vfj3OR29L+dWvpg4YcAF7gJMG1PbxNz7Z0upTKVSuRhc3T3z9h9w
        VVFgMpVaHj2S/rvqm/OpO56b6p//rn5cmv753/Z4100/NU/r/WXT/Au/rf6pqr+q+rjedf2/++Zu
        qP65q/fnxv6ub7c798tdff73eDmsmr76Z+gv5je759OuOdJvDu1xfKfjdthV/7wff6yf3I+fxvdd
        D+1D82933D/bt900+2ZoNv4v9+2hHT/53du3f1VDN9T7f8fvdNkPZ/jd9NtTvR2/37v/+auyf/l/
        /12d95vxW227brtvxu827DfT76t6tX6z6qcvu4aHN+vWPB/x+QGeN/Awvhk8P5h/aeCh78zTm+Np
        urqDh75d19PFFh568x87877wIe2bFn7Yw8O5XsP7HeDBvP5wHpp+g7+[...]
[...]
