interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.domaintools.com/v1/registrant-alert?app_name=python_wrapper&app_version=1.0.1&days_back=0&query=google
    response:
      content:
        '{"response":{"query":"google","limit":200,"total":11262,"date":"2022-06-16","alerts":[{"domain":"04records.com","match_type":"added","current_owner":"Contact
        Privacy Inc. Customer 7151571251","created":"2022-06-14","modified":"2022-06-14","last_owner":"REDACTED
        FOR PRIVACY"},{"domain":"1835.org","match_type":"added","current_owner":"Contact
        Privacy Inc. Customer 7151571251","created":"2015-04-07","modified":"2022-06-14","last_owner":"Xue
        Ting Ting"},{"domain":"195nassau.com","match_type":"added","current_owner":"Contact
        Privacy Inc. Customer 7151571251","created":"2022-06-14","modified":"2022-06-14","last_owner":""},{"domain":"212m.com","match_type":"added","current_owner":"Contact
        Privacy Inc. Customer[...]
