interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/phisheye/term-list?app_name=python_wrapper&app_version=1.0.1&include_inactive=false
  response:
    content: '{"response":{"terms":[{"term":"google","active":true,"user_monitor_count":1}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '19664'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/phisheye/term-list?app_name=python_wrapper&app_version=2.0.0&include_inactive=false
  response:
    content: '{"response":{"terms":[{"term":"google","active":true,"user_monitor_count":1}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '21976'
    status_code: 200
version: 1
