interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&deleted_only=false&has_hyphen=true&has_number=true&max_length=25&min_length=2&page=1&query=google
  response:
    body: {string: '{"response":{"query_info":{"has_hyphen":true,"limit":100,"max_length":25,"total_results":155924,"anchor_right":false,"exclude_query":"","has_number":true,"anchor_left":false,"min_length":2,"active_only":false,"deleted_only":false,"page":1},"results":[{"tlds_count":721,"has_hyphen":0,"char_count":6,"has_number":0,"hashad_tlds":["ac","ac.cn","ac.mu","ac.nz","ac.ug","ac.vn","ac.zw","ad","adm.br","adult","adv.br","ae","aero","aero.np","af","africa","ag","agr.br","ah.cn","ai","al","alsace","am","am.br","amsterdam","app","archi","arq.br","art","art.br","as","asia","asia.np","at","auto","aw","ax","az","ba","baby","bar","barcelona","basketball","bayern","bbs.tr","be","beer","berlin","bet","bf","bg","bi","bialystok.pl","bio","bio.br","biz","biz.id","biz.np","biz.pk","biz.pl","biz.tr","biz.ua","biz.vn","bj","bj.cn","blog","bo"[...]
