interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.domaintools.com/v1/iris-detect/domains/new/?app_name=python_wrapper&app_version=1.0.1&include_domain_data=false&monitor_id=nAwmQg2pqg&offset=0&order=desc&sort%5B%5D=risk_score
    response:
      content:
        '{"watchlist_domains":[{"state":"new","domain":"googledocpage.com","status":"active","discovered_date":"2022-05-21T01:09:27.436000+00:00","changed_date":"2022-06-09T14:14:18.000000+00:00","risk_score":100,"risk_score_status":"full","risk_score_components":{"proximity":100,"threat_profile":{"phishing":95,"malware":76,"spam":77,"evidence":["domain
        name","registrant","name server"]}},"mx_exists":false,"tld":"com","id":"3ENbVlxmEX","escalations":[],"monitor_ids":["nAwmQg2pqg"]},{"state":"new","domain":"googlehfz.xyz","status":"active","discovered_date":"2022-06-06T08:25:37.646000+00:00","changed_date":"2022-06-08T18:43:24.000000+00:00","risk_score":100,"risk_score_status":"full","risk_score_components":{"proximity":100,"threat_profile":{"phishing":99,"malware":91,"spam":10,"evidence":["domain
        name","name server","ip address"]}},"mx_exists":false,"tld":"xyz","id":"7WKOX2QnWR","escalations":[],"monitor_ids":["nAwmQg2pqg"]},{"state":"new","domain":[...]
