interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.2.0&sessiondID=integrations-testing&top=5
  response:
    body:
      string: "{\"timestamp\":\"2025-01-27T17:02:38Z\",\"domain\":\"whitespot-system.com\",\"raw_record\":{\"first_request_timestamp\":\"2025-01-27T17:02:34Z\",\"requests\":[{\"data\":\"{\\\"objectClassName\\\":\\\"domain\\\",\\\"handle\\\":\\\"2002177069_DOMAIN_COM-VRSN\\\",\\\"ldhName\\\":\\\"WHITESPOT-SYSTEM.COM\\\",\\\"links\\\":[{\\\"value\\\":\\\"https:\\\\/\\\\/rdap.verisign.com\\\\/com\\\\/v1\\\\/domain\\\\/WHITESPOT-SYSTEM.COM\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.verisign.com\\\\/com\\\\/v1\\\\/domain\\\\/WHITESPOT-SYSTEM.COM\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\"},{\\\"value\\\":\\\"https:\\\\/\\\\/rdap.domainconnection.info\\\\/domain\\\\/WHITESPOT-SYSTEM.COM\\\",\\\"rel\\\":\\\"related\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.domainconnection.info\\\\/domain\\\\/WHITESPOT-SYSTEM.COM\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\"}],\\\"status\\\":[\\\"active\\\"],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"handle\\\":\\\"379\\\",\\\"roles\\\":[\\\"registrar\\\"],\\\"publicIds\\\":[{\\\"type\\\":\\\"IANA
        Registrar ID\\\",\\\"identifier\\\":\\\"379\\\"}],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"Arsys
        Internet, S.L. dba NICLINE.COM\\\"]]],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"abuse\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"\\\"],[\\\"tel\\\",{\\\"type\\\":\\\"voice\\\"},\\\"uri\\\",\\\"tel:+34
        941 620 100\\\"],[\\\"email\\\",{},\\\"text\\\",\\\"abuse@nicline.com\\\"]]]}]}],\\\"events\\\":[{\\\"eventAction\\\":\\\"registration\\\",\\\"eventDate\\\":\\\"2016-02-12T14:28:12Z\\\"},{\\\"eventAction\\\":\\\"expiration\\\",\\\"eventDate\\\":\\\"2025-02-12T14:28:12Z\\\"},{\\\"eventAction\\\":\\\"last
        changed\\\",\\\"eventDate\\\":\\\"2024-02-13T08:19:49Z\\\"},{\\\"eventAction\\\":\\\"last
        update of RDAP database\\\",\\\"eventDate\\\":\\\"2025-01-27T17:02:21Z\\\"}],\\\"secureDNS\\\":{\\\"delegationSigned\\\":false},\\\"nameservers\\\":[{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"NS1.SESDERMA.COM\\\"},{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"NS2.SESDERMA.COM\\\"}],\\\"rdapConformance\\\":[\\\"rdap_level_0\\\",\\\"icann_rdap_technical_implementation_guide_0\\\",\\\"icann_rdap_response_profile_0\\\"],\\\"notices\\\":[{\\\"title\\\":\\\"Terms
        of Use\\\",\\\"description\\\":[\\\"Service subject to Terms of Use.\\\"],\\\"links\\\":[{\\\"href\\\":\\\"https:\\\\/\\\\/www.verisign.com\\\\/domain-names\\\\/registration-data-access-protocol\\\\/terms-service\\\\/index.xhtml\\\",\\\"type\\\":\\\"text\\\\/html\\\"}]},{\\\"title\\\":\\\"Status
        Codes\\\",\\\"description\\\":[\\\"For more information on domain status codes,
        please visit https:\\\\/\\\\/icann.org\\\\/epp\\\"],\\\"links\\\":[{\\\"href\\\":\\\"https:\\\\/\\\\/icann.org\\\\/epp\\\",\\\"type\\\":\\\"text\\\\/html\\\"}]},{\\\"title\\\":\\\"RDDS
        Inaccuracy Complaint Form\\\",\\\"description\\\":[\\\"URL of the ICANN RDDS
        Inaccuracy Complaint Form: https:\\\\/\\\\/icann.org\\\\/wicf\\\"],\\\"links\\\":[{\\\"href\\\":\\\"https:\\\\/\\\\/icann.org\\\\/wicf\\\",\\\"type\\\":\\\"text\\\\/html\\\"}]}]}\",\"source_type\":\"registry\",\"timestamp\":\"2025-01-27T17:02:34Z\",\"url\":\"https://rdap.verisign.com/com/v1/domain/whitespot-system.com\"},{\"data\":\"{\\\"objectClassName\\\":\\\"domain\\\",\\\"ldhName\\\":\\\"whitespot-system.com\\\",\\\"events\\\":[{\\\"eventAction\\\":\\\"registration\\\",\\\"eventDate\\\":\\\"2016-02-12T15:28:11.000Z\\\"},{\\\"eventAction\\\":\\\"last
        changed\\\",\\\"eventDate\\\":\\\"2017-02-13T12:15:11.000Z\\\"},{\\\"eventAction\\\":\\\"expiration\\\",\\\"eventDate\\\":\\\"2025-02-12T14:28:12.000Z\\\"},{\\\"eventAction\\\":\\\"last
        update of RDAP database\\\",\\\"eventDate\\\":\\\"2025-01-27T17:02:37.911Z\\\"}],\\\"status\\\":[\\\"active\\\"],\\\"port43\\\":\\\"whois.nicline.com\\\",\\\"lang\\\":\\\"en\\\",\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"registrant\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"\\\"],[\\\"contact-uri\\\",{},\\\"uri\\\",\\\"https://registrar.domainconnection.info/\\\"],[\\\"adr\\\",{\\\"cc\\\":\\\"ES\\\"},\\\"text\\\",[\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\",\\\"VALENCIA\\\",\\\"\\\",\\\"\\\"]]]],\\\"status\\\":[\\\"removed\\\"],\\\"remarks\\\":[{\\\"title\\\":\\\"REDACTED
        FOR PRIVACY\\\",\\\"type\\\":\\\"object redacted due to authorization\\\",\\\"description\\\":[\\\"Some
        of the data in this object has been removed\\\"]},{\\\"title\\\":\\\"EMAIL
        REDACTED FOR PRIVACY\\\",\\\"type\\\":\\\"object redacted due to authorization\\\",\\\"description\\\":[\\\"This
        email has been redacted for privacy. You could use the 'contact-uri' to contact
        the registrant of the domain.\\\"]}]},{\\\"objectClassName\[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.7.1&sessiondID=integrations-testing&top=5
  response:
    body:
      string: "{\"timestamp\":\"2026-01-16T10:20:15Z\",\"domain\":\"zenklaquettes.fr\",\"raw_record\":{\"first_request_timestamp\":\"2026-01-16T10:20:11Z\",\"requests\":[{\"data\":\"{\\\"rdapConformance\\\":[\\\"rdap_level_0\\\",\\\"icann_rdap_technical_implementation_guide_1\\\",\\\"icann_rdap_response_profile_1\\\"],\\\"objectClassName\\\":\\\"domain\\\",\\\"handle\\\":\\\"DOM104653639-FRNIC\\\",\\\"ldhName\\\":\\\"zenklaquettes.fr\\\",\\\"status\\\":[\\\"active\\\"],\\\"whoisStatus\\\":\\\"ACTIVE\\\",\\\"events\\\":[{\\\"eventAction\\\":\\\"registration\\\",\\\"eventDate\\\":\\\"2025-07-20T15:41:27.185781Z\\\"},{\\\"eventAction\\\":\\\"expiration\\\",\\\"eventDate\\\":\\\"2026-07-20T15:41:27.159919Z\\\"},{\\\"eventAction\\\":\\\"last
        changed\\\",\\\"eventDate\\\":\\\"2025-07-25T15:41:37.636928Z\\\"},{\\\"eventAction\\\":\\\"last
        update of RDAP database\\\",\\\"eventDate\\\":\\\"2026-01-16T10:20:13.859328009Z\\\"}],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.9.0&sessiondID=integrations-testing&top=5
  response:
    body:
      string: "{\"timestamp\":\"2026-07-29T14:47:06Z\",\"domain\":\"ghgschool.com\",\"raw_record\":{\"first_request_timestamp\":\"2026-07-29T14:47:02Z\",\"requests\":[{\"data\":\"{\\\"rdapConformance\\\":[\\\"rdap_level_0\\\",\\\"icann_rdap_response_profile_0\\\",\\\"icann_rdap_technical_implementation_guide_0\\\"],\\\"notices\\\":[{\\\"title\\\":\\\"Cloudflare
        Registrar\\\",\\\"description\\\":[\\\"Cloudflare provides more than 13 million
        domains with the tools to give their global users a faster, more secure, and
        more reliable internet experience.\\\",\\\"Register your domain name at https://www.cloudflare.com/registrar/\\\"],\\\"links\\\":[{\\\"value\\\":\\\"https://www.cloudflare.com/registrar/\\\",\\\"rel\\\":\\\"related\\\",\\\"href\\\":\\\"https://www.cloudflare.com/registrar/\\\",\\\"type\\\":\\\"text/html\\\"}]},{\\\"title\\\":\\\"Terms
        of Use\\\",\\\"description\\\":[\\\"Data in the Cloudflare Registrar WHOIS
        database is provided to you by Cloudflare under the terms and conditions at
        https://www.cloudflare.com/domain-registration-agreement/.\\\",\\\"By submitting
        this query, you agree to abide by these terms.\\\"],\\\"links\\\":[{\\\"value\\\":\\\"https://www.cloudflare.com/domain-registration-agreement/\\\",\\\"rel\\\":\\\"related\\\",\\\"href\\\":\\\"https://www.cloudflare.com/domain-registration-agreement/\\\",\\\"type\\\":\\\"text/html\\\"}]},{\\\"title\\\":\\\"Status
        Codes\\\",\\\"description\\\":[\\\"For more information on domain status codes,
        please[...]
