interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/iprisk/?after=-60&app_name=python_wrapper&app_version=2.9.0&top=5
  response:
    body:
      string: '{"timestamp":"2026-07-29T14:56:20Z","ip":"3.5.254.69","pdns_resolutions":1118,"bad_pdns_resolutions":1,"total_domains":1328,"third_party_threats":1,"all_threats_combined_percent":0,"combined_phishing_percent":0,"combined_malware_percent":0,"combined_spam_percent":0,"asn":16509,"organization":"Amazon
        Data Services Northern Virginia","city":"Montreal","country":"CA","latitude":45.52,"longitude":-73.57,"all_threats_combined_count":1,"malicious_phishing":0,"malicious_malware":0,"malicious_spam":0,"compromised_phishing":1,"compromised_malware":0,"compromised_spam":0,"predicted_phishing":0,"predicted_malware":0,"predicted_spam":0,"all_threats_percent":0,"percent_phishing":0,"percent_malware":0,"percent_spam":0,"zerolist_domains":5,"zerolist_ip":false}

        {"timestamp":"2026-07-29T14:56:20Z","ip":"3.131.191.235","pdns_resolutions":6,"bad_pdns_resolutions":0,"total_domains":7,"third_party_threats":0,"all_threats_combined_percent":0,"combined_phishing_percent":0,"combined_malware_percent":0,"combined_spam_percent":0,"asn":16509,"organization":"Amazon
        Technologies Inc.","city":"Columbus","country":"US","latitude":39.99558,"longitude":-82.99946,"all_threats_combined_count":0,"malicious_phishing":0,"malicious_malware":0,"malicio[...]
[...]
