interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/google.com/reverse-ip?app_name=python_wrapper&app_version=1.0.1
  response:
    content: '{"response":{"ip_addresses":[{"ip_address":"142.250.217.78","domain_count":414,"domain_names":["020313.COM","12365HK77.COM","1G53N3GTDO.COM","2821MK.COM","2NW.NET","2RKKEM2JZI.COM","2Y3WAY9H8K.COM","39787.COM","4J9KSEMV1Q.COM","4XX8.CN","69585.COM","72GKA5XP5E.COM","7800022.RU","79SPD7ME01.COM","7PLBMSJ7K6.COM","805UOPO9DJ.COM","88Y7AF58X5.COM","9IPCNVYUQQ.COM","A5IGLUK1Y4.COM","A8E56F4ZM9.COM","AANGELOMARCELO.COM","ABCDEFGHI.COM","ABOADODIA.NET","ACUSTICAFACIL.COM","ADOBEAPPS.COM","AFLITOS.NET","AFTERSHELL.COM","AGOOGLEDAY.COM","ALEKBURK.COM","ALLINEATE.COM","AN5YWMVA51.COM","ANTHOSAPIS[...]
[...]
