interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris?app_name=python_wrapper&app_version=0.6.1&domain=google.com&https=false
  response:
    content: '{"response":{"limit_exceeded":false,"message":"Enjoy your data.","results_count":1,"results":[{"domain":"google.com","whois_url":"https:\/\/whois.domaintools.com\/google.com","adsense":"","alexa":1,"google_analytics":"","admin_contact":{"name":"","org":"Google
      LLC","street":"","city":"","state":"CA","postal":"","country":"us","phone":"","fax":"","email":[]},"billing_contact":{"name":"","org":"","street":"","city":"","state":"","postal":"","country":"","phone":"","fax":"","email":[]},"registrant_contact":{"name":"","org":"Google
      LLC","street":"","city":"","state":"CA","postal":"","country":"us","phone":"","fax":"","email":[]},"technical_contact":{"name":"","org":"Google
      LLC","street":"","city":"","state":"CA","postal":"","country":"us","phone":"","fax":"","email":[]},"create_date":"1997-09-15","expiration_date":"2028-09-14","email_domain":["google.com","markmonitor.com"],"soa_email":["dns-admin@google.com"],"additional_whois_email":["abusecomplaints@markmonitor.com","whoisrequest@markmonitor.com"],"ip":[{"address":"142.250.217.78","asn":[15169],"country_code":"us","isp":"Google"},{"address":"142.251.33.100","asn":[15169],"country_code":"us","isp":"Google"},{"address":"142.251.33.68","asn":[15169],"country_code":"us","isp":"Google"},{"address":"142.251.33.78","asn":[15169],"country_code":"us","isp":"Google"}],"mx":[{"host":"smtp.google.com","domain":"google.com","ip":["74.125.195.27","74.125.142.27","74.125.142.26","74.125.195.26","74.125.197.27"],"priority":10}],"name_server":[{"host":"ns1.google.com","domain":"google.com","ip":["216.239.32.10"]},{"host":"ns2.google.com","domain":"google.com","ip":["216.239.34.10"]},{"host":"ns3.google.com","domain":"google.com","ip":["216.239.36.10"]},{"host":"ns4.google.com","domain":"google.com","ip":["216.239.38.10"]}],"risk_score":0,"redirect":"","redirect_domain":"","registrant_name":"","registrant_org":"Google
      LLC","registrar":"MARKMONITOR, INC.,MARKMONITOR INC","registrar_status":["clientdeleteprohibited
      clienttransferprohibited clientupdateprohibited serverdeleteprohibited servertransferprohibited
      serverupdateprohibited"],"spf_info":"","ssl_country":"","ssl_hash":"","ssl_org":"","tld":"com","threat_profile":{"proximity":"","spam":"","malware":"","evidence":[]},"website_response":200,"data_updated_timestamp":"2022-05-19T21:54:01"}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '73329'
    status_code: 200
[...]
