interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&app_name=python_wrapper&app_version=0.6.1&deleted_only=false&has_hyphen=true&has_number=true&max_length=25&min_length=2&page=1&query=google
  response:
    content: '{"response":{"query_info":{"exclude_query":"","anchor_left":false,"anchor_right":false,"has_number":true,"has_hyphen":true,"min_length":2,"max_length":25,"active_only":false,"deleted_only":false,"limit":100,"total_results":172062,"page":1},"results":[{"sld":"google","tlds":["ac","ac.cn","ac.vn","ad","adult","adv.br","ae","aero","aero.np","af","africa","ag","ah.cn","ai","al","alsace","am","am.br","amsterdam","app","ar","archi","art","as","asia","at","au","audio","auto","autos","aw","ax","az","ba","baby","bar","barcelona","basketball","bayern","bbs.tr","be","beauty","berlin","bet","bf","bg","bh","bi","bio","biz","biz.id","biz.np","biz.pk","biz.pl","biz.tr","biz.ua","biz.vn","bj","bj.cn","blackfriday","blog","bo","boats","bond","boston","bot","broker","bs","bt","busi[...]
[...]
