interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/watched/?include_domain_data=false&offset=0
  response:
    body:
      string: '{"watchlist_domains":[{"state":"watched","domain":"caritasukraine.org","status":"active","discovered_date":"2022-03-01T21:33:42.265000+00:00","changed_date":"2022-03-01T21:36:12.000000+00:00","risk_score":57,"risk_score_status":"full","risk_score_components":{"proximity":8,"threat_profile":{"phishing":57,"malware":13,"spam":36,"evidence":["registrant","name
        server","domain name"]}},"mx_exists":true,"tld":"org","id":"Zadmr81nEd","escalations":[],"monitor_ids":["ND2pMOGmL8"],"assigned_by":"cwoodraska@domaintools.com","assigned_date":"2022-03-07T19:24:18.000000+00:00","registrant_contact_email":[],"name_server":[{"host":"ns35.domaincontrol.com"},{"host":"ns36.domaincontrol.com"}],"registrar":"GoDaddy.com,
        LLC","create_date":20220301,"ip":[{"country_code":"US","ip":"72.167.191.69","isp":"GoDaddy.com
        LLC"}],"mx":[{"host":"caritasukraine-org.mail.protection.outlook.com"}]},{"state":"watched","domain":"passiveincometogether.com","status":"active","discovered_date":"2022-01-26T00:16:33.070000+00:00","changed_date":"2022-01-28T21:42:25.000000+00:00","risk_score":13,"risk_score_status":"full","risk_score_components":{"proximity":13,"threat_profile":{"phishing":7,"malware":4,"spam":0,"evidence":[]}},"mx_exists":true,"tld":"com","id":"7EORJ8RLae","escalations":[],"monitor_ids":["dZ4jKRMp8V"],"assigned_by":"med[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/watched/?include_domain_data=false&monitor_id=QEMba7ljxo&offset=0&order=desc&sort%5B%5D=risk_score
  response:
    body:
      string: '{"watchlist_domains":[{"state":"watched","domain":"amazon-benjamins.biz","status":"active","discovered_date":"2021-12-07T16:44:59.608000+00:00","changed_date":"2021-12-07T16:47:41.000000+00:00","risk_score":98,"risk_score_status":"full","risk_score_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/watched/?escalation_types%5B%5D=blocked&include_domain_data=false&offset=0
  response:
    body:
      string: '{"watchlist_domains":[],"total_count":0,"count":0,"offset":0,"limit":100}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
