interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/risk/evidence/?app_name=python_wrapper&app_version=1.0.1&domain=google.com
  response:
    content: '{"response":{"domain":"google.com","risk_score":0,"components":[{"name":"zerolist","risk_score":0}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '21701'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/risk/evidence/?app_name=python_wrapper&app_version=2.1.0&domain=google.com
  response:
    content: '{"response":{"domain":"google.com","risk_score":0,"components":[{"name":"zerolist","risk_score":0}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '19995'
    status_code: 200
version: 1
