interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/google.com/name-server-domains?app_name=python_wrapper&app_version=1.0.1
  response:
    content: '{"response":{"name_server":{"hostname":"google.com","primary":18139,"secondary":379,"total":18518},"primary_domains":["00hrf5vjtk.com","01146.com","01365.com","01seifw7uv.com","0206yknow.com","02221.com","02525.com","032888.com","0345.net","05028.com","051.com","0515888.com","05252.com","073777.com","08256.com","08jjhe3a9g.com","095552.com","09679.com","098zvqavz8.com","09993.com","0a9v377tsx.com","0craft.ru","0dscgyp5vm.com","0emm.com","0emn.com","0enm.com","0f7tzjkso5.com","0fmm.com","0gal.com","0m66lx69dx.com","0mme.com","0moe.com","0pvm.com","0s3xa3gr4q.com","0wenku.com","0youxi.com","0zxi117b08.com","10-f[...]
[...]
