interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/reverse-ip-whois?app_name=python_wrapper&app_version=0.6.1&include_total_count=false&page=1&query=Domain+Tools
  response:
    content: '{"response":{"records":[{"ip_from":"207.217.37.88","ip_to":"207.217.37.95","record_ip":"207.217.37.88","record_date":"2022-04-19","country":"US","range":"207.217.37.88\/29","organization":"Superior
      Featherweight Tools","server":"whois.arin.net","short_record_ip":"207.217.37.88"}],"record_count":1,"page":1,"has_more_pages":false}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '26824'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/reverse-ip-whois?app_name=python_wrapper&app_version=0.6.1&include_total_count=false&ip=65.55.53.233&page=1
  response:
    content: '{"response":{"whois_record":"NetRange:       65.52.0.0 - 65.55.255.255\nCIDR:           65.52.0.0\/14\nNetName:        MICROSOFT-1BLK\nNetHandle:      NET-65-52-0-0-1\nParent:         NET65
      (NET-65-0-0-0-0)\nNetType:        Direct Allocation\nOriginAS:       \nOrganization:   Microsoft
      Corporation (MSFT)\nRegDate:        2001-02-14\nUpdated:        2021-12-14\nRef:            https:\/\/rdap.arin.net\/registry\/ip\/65.52.0.0\n\nOrgName:        Microsoft
      Corporation\nOrgId:          MSFT\nAddress:        One Microsoft Way\nCity:           Redmond\nStateProv:      WA\nPostalCode:     98052\nCountry:        US\nRegDate:        1998-07-10\nUpdated:        2022-03-28\nComment:        To
      report suspected security issues specific to traffic emanating from Microsoft
      online services, including the distribution of malicious content or other illicit
      or illegal material through a Microsoft online service, please submit reports
      to:\nComment:        * https:\/\/cert.microsoft.com.  \nComment:        \nComment:        For
      SPAM and other abuse issues, such as Microsoft Accounts, please contact:\nComment:        *
      abuse@microsoft.com.  \nComment:        \nComment:        To report security
      vulnerabilities in Microsoft products and services, please contact:\nComment:        *
      secure@microsoft.com.  \nComment:        \nComment:        For legal and law
      enforcement-related requests, please contact:\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/reverse-ip-whois?app_name=python_wrapper&app_version=0.6.2&include_total_count=false&page=1&query=DomainTools
  response:
    content: '{"error":"Internal Error #3264","resources":{"support":"https:\/\/www.domaintools.com\/support\/"}}'
    headers:
      Content-Type:
      - text/html
      X-TIME:
      - '9429024'
    status_code: 500
version: 1
