interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.2.0&sessiondID=integrations-testing&top=5
  response:
    body:
      string: "{\"timestamp\":\"2025-01-21T16:39:42Z\",\"domain\":\"folding-beds-76808.bond\",\"raw_record\":{\"first_request_timestamp\":\"2025-01-21T16:39:37Z\",\"requests\":[{\"data\":\"{\\\"rdapConformance\\\":[\\\"icann_rdap_response_profile_1\\\",\\\"icann_rdap_response_profile_0\\\",\\\"icann_rdap_technical_implementation_guide_1\\\",\\\"icann_rdap_technical_implementation_guide_0\\\",\\\"rdap_level_0\\\",\\\"redacted\\\"],\\\"lang\\\":\\\"en\\\",\\\"objectClassName\\\":\\\"domain\\\",\\\"handle\\\":\\\"D520974534-CNIC\\\",\\\"ldhName\\\":\\\"folding-beds-76808.bond\\\",\\\"nameservers\\\":[{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"ns1.nic53.net\\\",\\\"handle\\\":\\\"H15911144-CNIC\\\",\\\"links\\\":[{\\\"title\\\":\\\"Authoritative
        URL for this resource\\\",\\\"rel\\\":\\\"self\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\",\\\"value\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/domain\\\\/folding-beds-76808.bond\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/nameserver\\\\/ns1.nic53.net\\\"}]},{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"ns2.nic53.de\\\",\\\"handle\\\":\\\"H15911149-CNIC\\\",\\\"links\\\":[{\\\"title\\\":\\\"Authoritative
        URL for this resource\\\",\\\"rel\\\":\\\"self\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\",\\\"value\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/domain\\\\/folding-beds-76808.bond\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/nameserver\\\\/ns2.nic53.de\\\"}]}],\\\"secureDNS\\\":{\\\"delegationSigned\\\":false},\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"registrant\\\"],\\\"handle\\\":\\\"C1039586340-CNIC\\\",\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",[],\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",[],\\\"text\\\",\\\"\\\"],[\\\"adr\\\",{\\\"CC\\\":\\\"IL\\\"},\\\"text\\\",[\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\"]]]],\\\"remarks\\\":[{\\\"title\\\":\\\"Data
        Policy\\\",\\\"type\\\":\\\"object truncated due to authorization\\\",\\\"description\\\":[\\\"Some
        of the data in this object has been removed.\\\"]},{\\\"title\\\":\\\"REDACTED
        FOR PRIVACY\\\",\\\"type\\\":\\\"object redacted due to authorization\\\",\\\"description\\\":[\\\"Some
        of the data in this object has been removed.\\\"]},{\\\"title\\\":\\\"EMAIL
        REDACTED FOR PRIVACY\\\",\\\"type\\\":\\\"object truncated due to authorization\\\",\\\"description\\\":[\\\"Please
        query the RDDS service of the Registrar of Record identified in this output[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.6.0&top=2
  response:
    body:
      string: '{"timestamp":"2025-10-23T18:32:42Z","domain":"henriquegasparbarroscorrespondentefinanceiroltda.shop","raw_record":{"first_request_timestamp":"2025-10-23T18:32:34Z","requests":[{"data":"{\"objectClassName\":\"domain\",\"handle\":\"DO15447408-GMO\",\"ldhName\":\"henriquegasparbarroscorrespondentefinanceiroltda.shop\",\"status\":[\"client
        transfer prohibited\",\"add period\"],\"events\":[{\"eventAction\":\"registration\",\"eventDate\":\"2025-10-23T13:58:21.0Z\"},{\"eventAction\":\"expiration\",\"eventDate\":\"2026-10-23T23:59:59.0Z\"},{\"eventAction\":\"last
        changed\",\"eventDate\":\"2025-10-23T13:58:27.0Z\"},{\"eventAction\":\"last
        update of RDAP database\",\"eventDate\":\"2025-10-23T18:32:36.0Z\"}],\"nameservers\":[{\"objectClassName\":\"nameserver\",\"ldhName\":\"ns2.dns-parking.com\",\"links\":[{\"value\":\"https://rdap.gmoregistry.net/rdap/nameserver/ns2.dns-parking.com\",\"rel\":\"self\",\"href\":\"https[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.6.1&top=2
  response:
    body:
      string: '{"timestamp":"2025-11-06T01:52:52Z","domain":"wallysfishchickenlansing.com","raw_record":{"first_request_timestamp":"2025-11-06T01:52:48Z","requests":[{"data":"{\"objectClassName\":\"domain\",\"handle\":\"2690894449_DOMAIN_COM-VRSN\",\"ldhName\":\"wallysfishchickenlansing.com\",\"nameservers\":[{\"objectClassName\":\"nameserver\",\"ldhName\":\"pdns07.domaincontrol.com\",\"status\":[\"active\"],\"events\":[{\"eventAction\":\"last
        changed\",\"eventDate\":\"2022-04-21T09:23:58Z\"}]},{\"objectClassName\":\"nameserver\",\"ldhName\":\"pdns08.domaincontrol.com\",\"status\":[\"active\"],\"events\":[{\"eventAction\":\"last
        changed\",\"eventDate\":\"2022-04-21T09:23:58Z\"}]}],\"secureDNS\":{\"delegationSigned\":false},\"links\":[{\"value\":\"https://rdap.godaddy.com/v1/domain/wallysfishchickenlansing.com\",\"rel\":\"self\",\"href\":\"https://rdap.godaddy.com/v1/domain/wallysfishchickenlansing.com\",\"type\":\"application/rdap+json\"}],\"entities\":[{\"objectClassName\":\"entity\",\"handle\":\"wallysfishchickenlansingcom-reg\",\"vcardArray\":[\"vcard\",[[\"version\",{},\"text\",\"4.0\"],[\"kind\",{},\"text\",\"organization\"],[\"fn\",{},\"text\",\"Registration
        Private\"],[\"org\",{\"type\":\"work\"},\"text\",\"Domains By Proxy, LLC\"],[\"adr\",{\"cc\":\"US\"},\"text\",[\"\",\"\",\"DomainsByProxy.com
        100 S. Mill Ave, Suite 1600\",\"Tempe\",\"Arizona\",\"85281\",\"\"]],[\"tel\",{\"type\":[\"voice\"]},\"uri\",\"tel:+1.4806242599\"],[\"contact-uri\",{},\"uri\",\"https://www.godaddy.com/whois/results.aspx?domain=wallysfishchickenlansing.com\\u0026action=contactDomainOwner\"]]],\"roles\":[\"registrant\"],\"events\":[{\"eventAction\":\"last
        changed\",\"eventDate\":\"2022-04-21T09:23:59Z\"}]},{\"objectClassName\":\"entity\",\"handle\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.7.0&top=2
  response:
    body:
      string: '{"timestamp":"2025-12-09T19:22:31Z","domain":"thelegalpress.com","raw_record":{"first_request_timestamp":"2025-12-09T19:22:28Z","requests":[{"data":"{\"rdapConformance\":[\"rdap_level_0\",\"icann_rdap_technical_implementation_guide_0\",\"icann_rdap_response_profile_0\"],\"handle\":\"2892018778_DOMAIN_COM-VRSN\",\"objectClassName\":\"domain\",\"port43\":\"whois.cloudflare.com\",\"ldhName\":\"thelegalpress.com\",\"status\":[\"client
        transfer prohibited\",\"renew period\"],\"lang\":\"en-US\",\"secureDNS\":{\"delegationSigned\":false},\"notices\":[{\"title\":\"Cloudflare
        Registrar\",\"description\":[\"Cloudflare provides more than 13 million domains
        with the tools to give their global users a faster, more secure, and more
        reliable internet experience.\",\"Register your domain name at https://www.cloudflare.com/registrar/\"],\"links\":[{\"rel\":\"related\",\"href\":\"https://www.cloudflare.com/registrar/\",\"type\":\"text/html\",\"value\":\"https://www.cloudflare.com/registrar/\"}]},{\"title\":\"Terms
        of Us[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.7.1&top=2
  response:
    body:
      string: "{\"timestamp\":\"2026-01-16T10:20:07Z\",\"domain\":\"maitre-parfumeur.com\",\"raw_record\":{\"first_request_timestamp\":\"2026-01-16T10:20:04Z\",\"requests\":[{\"data\":\"{\\\"objectClassName\\\":\\\"domain\\\",\\\"handle\\\":\\\"2120547145_DOMAIN_COM-VRSN\\\",\\\"ldhName\\\":\\\"MAITRE-PARFUMEUR.COM\\\",\\\"links\\\":[{\\\"value\\\":\\\"https:\\\\/\\\\/rdap.verisign.com\\\\/com\\\\/v1\\\\/domain\\\\/MAITRE-PARFUMEUR.COM\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.verisign.com\\\\/com\\\\/v1\\\\/domain\\\\/MAITRE-PARFUMEUR.COM\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\"},{\\\"value\\\":\\\"https:\\\\/\\\\/rdap.gmo-onamae.com\\\\/rdap\\\\/v1\\\\/domain\\\\/MAITRE-PARFUMEUR.COM\\\",\\\"rel\\\":\\\"related\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.gmo-onamae.com\\\\/rdap\\\\/v1\\\\/domain\\\\/MAITRE-PARFUMEUR.COM\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\"}],\\\"status\\\":[\\\"active\\\"],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"handle\\\":\\\"49\\\",\\\"roles\\\":[\\\"registrar\\\"],\\\"links\\\":[{\\\"href\\\":\\\"http:\\\\/\\\\/gmo.jp\\\",\\\"type\\\":\\\"text\\\\/html\\\",\\\"value\\\":\\\"https:\\\\/\\\\/rdap.gmo-onamae.com\\\\/rdap\\\\/v1\\\\/\\\",\\\"rel\\\":\\\"about\\\"}],\\\"publicIds\\\":[{\\\"type\\\":\\\"IANA
        Registrar ID\\\",\\\"identifier\\\":\\\"49\\\"}],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"GMO
        Internet Group, Inc. d\\\\/b\\\\/a Onamae.com\\\"]]],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"abuse\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"\\\"],[\\\"tel\\\",{\\\"type\\\":\\\"voice\\\"},\\\"uri\\\",\\\"tel:+81.337709199\\\"],[\\\"email\\\",{},\\\[...]
