interactions:
- request:
    body: app_name=python_wrapper&app_version=0.6.1&ip=8.8.8.8
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.domaintools.com/v1/iris-investigate/
  response:
    content: '{"response":{"limit_exceeded":true,"has_more_results":true,"message":"Maximum
      5000 returned - you may need to refine your query.","missing_domains":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '658924'
    status_code: 200
version: 1
