interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/google.com/whois/parsed?app_name=python_wrapper&app_version=0.6.1
  response:
    content: '{"response":{"registrant":"Google LLC","registration":{"created":"1997-09-15","expires":"2028-09-14","updated":"2019-09-09","registrar":"MarkMonitor
      Inc.","statuses":["clientDeleteProhibited","clientTransferProhibited","clientUpdateProhibited","serverDeleteProhibited","serverTransferProhibited","serverUpdateProhibited"]},"name_servers":["NS1.GOOGLE.COM","NS2.GOOGLE.COM","NS3.GOOGLE.COM","NS4.GOOGLE.COM"],"whois":{"date":"2022-05-19","record":"Domain
      Name: google.com\nRegistry Domain ID: 2138514_DOMAIN_COM-VRSN\nRegistrar WHOIS
      Server: whois.markmonitor.com\nRegistrar URL: http:\/\/www.markmonitor.com\nUpdated
      Date: 2019-09-09T15:39:04+00:00\n        2019-09-09\nCreation Date: 1997-09-15T07:00:00+00:00\n        1997-09-15\nRegistrar
      Registration Expiration Date: 2028-09-13T07:00:00+00:00\n        2028-09-14\nRegistrar:
      MarkMonitor, Inc.\n        MarkMonitor Inc.\nSponsoring Registrar IANA ID: 292\nRegistrar
      Abuse Contact Email: abusecomplaints@markmonitor.com\nRegistrar Abuse Contact
      Phone: 12086851750\nStatus: \n        clientDeleteProhibited\n        clientTransferProhibited\n        clientUpdateProhibited\n        serverDeleteProhibited\n        serverTransferProhibited\n        serverUpdateProhibited\nRegistry
      Registrant ID: \nRegistrant Name: \nRegistrant Organization: Google LLC\nRegistrant
      Street: \nRegistrant City: \nRegistrant State\/Province: CA\nRegistrant Postal
      Code: \nRegistrant Country: us\nRegistrant Phone: \nRegistrant Phone Ext: \nRegistrant
      Fax: \nRegistrant Fax Ext: \nRegistrant Email: REDACTED FOR PRIVACY (DT)\nRegistry
      Admin ID: \nAdmin Name: \nAdmin Organization: Google LLC\nAdmin Street: \nAdmin
      City: \nAdmin State\/Province: CA\nAdmin Postal Code: \nAdmin Country: us\nAdmin
      Phone: \nAdmin Phone Ext: \nAdmin Fax: \nAdmin Fax Ext: \nAdmin Email: REDACTED
      FOR PRIVACY (DT)\nRegistry Tech ID: \nTech Name: \nTech Organization: Google
      LLC\nTech Street: \nTech City: \nTech State\/Province: CA\nTech Postal Code:
      \nTech Country: us\nTech Phone: \nTech Phone Ext: \nTech Fax: \nTech Fax Ext:
      \nTech Email: REDACTED FOR PRIVACY (DT)\nRegistry Billing ID: \nBilling Name:
      \nBilling Organization: \nBilling Street: \nBilling City: \nBilling State\/Province:
      \nBilling Postal Code: \nBilling Country: \nBilling Phone: \nBilling Phone Ext:
      \nBilling Fax: \nBilling Fax Ext: \nBilling Email: \nNameservers: \n        ns1.google.com\n        ns2.google.com\n        ns3.google.com\n        ns4.google.com\nDNSSEC:
      unsigned"},"parsed_whois":{"domain":"google.com","created_date":"1997-09-15T07:00:00+00:00","updated_date":"2019-09-09T15:39:04+00:00","expired_date":"2028-09-13T07:00:00+00:00","statuses":["clientDeleteProhibited","clientTransferProhibited","clientUpdateProhibited","serverDeleteProhibited","serverTransferProhibited","serverUpdateProhibited"],"name_servers":["ns1.google.com","ns2.google.com","ns3.google.com","ns4.google.com"],"registrar":{"name":"MarkMonitor,
      Inc. MarkMonitor Inc.","abuse_contact_phone":"12086851750","abuse_contact_email":"abusecomplaints@markmonitor.com","iana_id":"292","url":"http:\/\/www.markmonitor.com","whois_server":"whois.markmonitor.com"},"contacts":{"registrant":{"name":"","org":"Google
      LLC","street":[],"city":"","state":"CA","postal":"","country":"us","phone":"","fax":"","email":"REDACTED
      FOR PRIVACY (DT)"},"admin":{"name":"","org":"Google LLC","street":[],"city":"","state":"CA","postal":"","country":"us","phone":"","fax":"","email":"REDACTED
      FOR PRIVACY (DT)"},"tech":{"name":"","org":"Google LLC","street":[],"city":"","state":"CA","postal":"","country":"us","phone":"","fax":"","email":"REDACTED
      FOR PRIVACY (DT)"},"billing":{"name":"","org":"","street":[],"city":"","state":"","postal":"","country":"","phone":"","fax":"","email":""}},"other_properties":{"dnssec":"unsigned","registry_domain_id":"2138514_DOMAIN_COM-VRSN","https":"\/\/www.icann.org\/resources\/pages\/epp-status-codes","visit_markmonitor_at_https":"\/\/www.markmonitor.com"}},"record_source":"google.com"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '38450'
    status_code: 200
[...]
