interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/woot.com/whois/history?app_name=python_wrapper&app_version=1.0.0
  response:
    content: '{"response":{"record_count":593,"history":[{"date":"2022-05-30","is_private":0,"whois":{"registrant":"Woot,
      Inc.","registration":{"created":"2000-01-12","expires":"2024-01-12","updated":"2019-05-07","registrar":"MarkMonitor
      Inc.","statuses":["clientDeleteProhibited","clientTransferProhibited","clientUpdateProhibited","serverDeleteProhibited","serverTransferProhibited","serverUpdateProhibited"]},"name_servers":["NS-1361.AWSDNS-42.ORG","NS-150.AWSDNS-18.COM","NS-1956.AWSDNS-52.CO.UK","NS-604.AWSDNS-11.NET"],"server":"whois.markmonitor.com","record":"Domain
      Name: woot.com\nRegistry Domain ID: 17384417_DOMAIN_COM-VRSN\nRegistrar WHOIS
      Server: whois.markmonitor.com\nRegistrar URL: http:\/\/www.markmonitor.com\nUpdated
      Date: 2019-08-26T19:19:56+0000\nCreation Date: 2000-01-12T21:41:49+0000\nRegistrar
      Registration Expiration Date: 2024-01-12T08:00:00+0000\nRegistrar: MarkMonitor,
      Inc.\nRegistrar IANA ID: 292\nRegistrar Abuse Contact Email: abusecomplaints@markmonitor.com\nRegistrar
      Abuse Contact Phone: +1.2083895770\nDomain Status: clientUpdateProhibited (https:\/\/www.icann.org\/epp#clientUpdateProhibited)\nDomain
      Status: clientTransferProhibited (https:\/\/www.icann.org\/epp#clientTransferProhibited)\nDomain
      Status: clientDeleteProhibited (https:\/\/www.icann.org\/epp#clientDeleteProhibited)\nDomain
      Status: serverUpdateProhibited (https:\/\/www.icann.org\/epp#serverUpdateProhibited)\nDomain
      Status: serverTransferProhibited (https:\/\/www.icann.org\/epp#serverTransferProhibited)\nDomain
      Status: serverDeleteProhibited (https:\/\/www.icann.org\/epp#serverDeleteProhibited)\nRegistrant
      Organization: Woot, Inc.\nRegistrant State\/Province: TX\nRegistrant Country:
      US\nRegistrant Email: Select Request Email Form at https:\/\/domains.markmonitor.com\/whois\/woot.com\nAdmin
      Organization: Woot, Inc.\nAdmin State\/Province: TX\nAdmin Country: US\nAdmin
      Email: Select Request Email Form at https:\/\/domains.markmonitor.com\/whois\/woot.com\nTech
      Organization: Woot, Inc.\nTech State\/Province: TX\nTech Country: US\nTech Email:
      Select Request Email Form at https:\/\/domains.markmonitor.com\/whois\/woot.com\nName
      Server: ns-1361.awsdns-42.org\nName Server: ns-150.awsdns-18.com\nName Server:
      ns-604.awsdns-11.net\nName Server: ns-1956.awsdns-52.co.uk\nDNSSEC: unsigned\nURL
      of the ICANN WHOIS Data Problem Reporting System: http[...]
