interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&app_name=python_wrapper&app_version=1.0.1&deleted_only=false&has_hyphen=true&has_number=true&max_length=25&min_length=2&page=1&query=google
    response:
      content: '{"response":{"query_info":{"exclude_query":"","anchor_left":false,"anchor_right":false,"has_number":true,"has_hyphen":true,"min_length":2,"max_length":25,"active_only":false,"deleted_only":false,"limit":100,"total_results":172385,"page":1},"results":[{"sld":"google","tlds":["ac","ac.cn","ac.vn","ad","adult","adv.br","ae","aero","af","africa","ag","ah.cn","ai","al","alsace","am","am.br","amsterdam","app","ar","archi","art","as","asia","at","au","audio","auto","autos","aw","ax","az","ba","baby","bar","barcelona","basketball","bayern","bbs.tr","be","beauty","berlin","bet","bf","bg","bh","bi","bio","biz","biz.id","biz.pk","biz.pl","biz.tr","biz.ua","biz.vn","bj","bj.cn","blackfriday","blog","bo","boats","bond","boston","bot","broker","bs","bt","business","by","bydgosz[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&app_name=python_wrapper&app_version=1.0.1&deleted_only=false&format=json&has_hyphen=true&has_number=true&max_length=25&min_length=2&page=1&query=google
    response:
      content: '{"response":{"query_info":{"exclude_query":"","anchor_left":false,"anchor_right":false,"has_number":true,"has_hyphen":true,"min_length":2,"max_len[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&app_name=python_wrapper&app_version=1.0.1&deleted_only=false&format=xml&has_hyphen=true&has_number=true&max_length=25&min_length=2&page=1&query=google
    response:
      content:
        "<?xml version=\"1.0\"?>\n<whoisapi>\n  <response>\n    <query_info>\n
        \     <exclude_query/>\n      <anchor_left/>\n      <anchor_right/>\n      <has_number>1</has_number>\n
        \     <has_hyphen>1</has_hyphen>\n      <min_length>2</min_length>\n      <max_length>25</max_length>\n
        \     <active_only/>\n      <deleted_only/>\n      <limit>100</limit>\n      <total_results>172385</total_results>\n
        \     <page>1</page>\n    </query_info>\n    <results>\n      <sld>google</sld>\n
        \     <tlds>ac</tl[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&app_name=python_wrapper&app_version=1.0.1&deleted_only=false&format=html&has_hyphen=true&has_number=true&max_length=25&min_length=2&page=1&query=google
    response:
      content:
        "\n            <html>\n            <head>\n                <title>DomainTools
        API</title>\n                <style type=\"text/css\">\n                    BODY
        {\n                        font-family: Arial, Helvetica, sans-serif;\n                        font-size:
        12px;\n                    }\n                    DIV.section DIV.section {\n
        \                       border-left: 2px solid #E1E1E1;\n                        margin-left:
        3px;\n                        padding-left: 15px;\n                    }\n                    DIV.heading
        {\n                        padd[...]
