interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/name-server-monitor?app_name=python_wrapper&app_version=1.0.1&days_back=0&page=1&query=google.com
  response:
    content: '{"response":{"limit":1000,"date":"2022-06-16","name_server":"google.com","total":"56","page":1,"page_count":1,"alerts":[{"new_name_server":"google.com","old_name_server":"cloudflare.com","action":"Transfer
      In","domain":"116GBAYI.COM"},{"new_name_server":"google.com","old_name_server":"cloudflare.com","action":"Transfer
      In","domain":"235GOLARO.COM"},{"new_name_server":"google.com","old_name_server":"cloudflare.com","action":"Transfer
      In","domain":"44GYONETICI.COM"},{"new_name_server":"google.com","old_name_server":"cloudflare.com","action":"Transfer
      In","domain":"66TRTIPBET.NET"},{"new_name_server":"google.com","old_name_server":"cloudflare.com","action":"Transfer
      In","domain":"82GTOTOBO[...]
[...]
