interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/account?app_name=python_wrapper&app_version=0.6.1
  response:
    content: '{"response":{"account":{"api_username":"integrations_testing","active":true},"products":[{"id":"account-information","per_month_limit":"100000","per_minute_limit":"5","absolute_limit":null,"usage":{"today":"1","month":"23"},"expiration_date":null},{"id":"iris-investigate","per_month_limit":"1000","per_minute_limit":"20","absolute_limit":null,"usage":{"today":"0","month":"3"},"expiration_date":null},{"id":"iris-enrich","per_month_limit":"1000","per_minute_limit":"20","absolute_limit":null,"usage":{"today":"0","month":"3"},"expiration_date":null},{"id":"iris-detect-escalate-domains","per_month_limit":"1500","per_minute_limit":"30","absolute_limit":null,"usage":{"today":"0","month":"2"},"expiration_date":null},{"id":"iris-detect-ignore[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/mark-alert?app_name=python_wrapper&app_version=0.6.1&query=google
  response:
    content: '{"response":{"query":"google","limit":1000,"total":75,"exclude":[],"new":true,"on-hold":true,"utf8":false,"date":"2022-05-20","alerts":[{"domain":"027google.cn","status":"on-hold"},{"domain":"account-google.co","status":"on-hold"},{"domain":"affiliategoogle.com","status":"new"},{"domain":"allgoogle.com.cn","status":"new"},{"domain":"aolgoogle.com","status":"new"},{"domain":"bitrue-google.com","status":"on-hold"},{"domain":"breakingbadgoogle.com","status":"on-hold"},{"domain":"breakingbadgoogle.net","status":"on-hold"},{"domain":"comoanunciarnogooglemeunegociogratis.site","status":"new"},{"domain":"docsgoogle.co.in","status":"new"},{"domain":"doodleforgoogle.info[...]
