interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/ip-monitor?app_name=python_wrapper&app_version=1.0.1&days_back=0&page=1&query=65.55.53.233
  response:
    content: '{"response":{"limit":1000,"date":"2022-06-16","ip_address":"65.55.53.233","total":"0","page":1,"page_count":0,"alerts":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '5125910'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/ip-monitor?app_name=python_wrapper&app_version=2.1.0&days_back=0&page=1&query=65.55.53.233
  response:
    content: '{"response":{"limit":1000,"date":"2024-04-10","ip_address":"65.55.53.233","total":"0","page":1,"page_count":0,"alerts":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '283004'
    status_code: 200
version: 1
