interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.2.0&sessiondID=integrations-testing&top=5
  response:
    body:
      string: "{\"timestamp\":\"2025-01-21T16:39:42Z\",\"domain\":\"folding-beds-76808.bond\",\"raw_record\":{\"first_request_timestamp\":\"2025-01-21T16:39:37Z\",\"requests\":[{\"data\":\"{\\\"rdapConformance\\\":[\\\"icann_rdap_response_profile_1\\\",\\\"icann_rdap_response_profile_0\\\",\\\"icann_rdap_technical_implementation_guide_1\\\",\\\"icann_rdap_technical_implementation_guide_0\\\",\\\"rdap_level_0\\\",\\\"redacted\\\"],\\\"lang\\\":\\\"en\\\",\\\"objectClassName\\\":\\\"domain\\\",\\\"handle\\\":\\\"D520974534-CNIC\\\",\\\"ldhName\\\":\\\"folding-beds-76808.bond\\\",\\\"nameservers\\\":[{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"ns1.nic53.net\\\",\\\"handle\\\":\\\"H15911144-CNIC\\\",\\\"links\\\":[{\\\"title\\\":\\\"Authoritative
        URL for this resource\\\",\\\"rel\\\":\\\"self\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\",\\\"value\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/domain\\\\/folding-beds-76808.bond\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/nameserver\\\\/ns1.nic53.net\\\"}]},{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"ns2.nic53.de\\\",\\\"handle\\\":\\\"H15911149-CNIC\\\",\\\"links\\\":[{\\\"title\\\":\\\"Authoritative
        URL for this resource\\\",\\\"rel\\\":\\\"self\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\",\\\"value\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/domain\\\\/folding-beds-76808.bond\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/nameserver\\\\/ns2.nic53.de\\\"}]}],\\\"secureDNS\\\":{\\\"delegationSigned\\\":false},\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"registrant\\\"],\\\"handle\\\":\\\"C1039586340-CNIC\\\",\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",[],\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",[],\\\"text\\\",\\\"\\\"],[\\\"adr\\\",{\\\"CC\\\":\\\"IL\\\"},\\\"text\\\",[\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\"]]]],\\\"remarks\\\":[{\\\"title\\\":\\\"Data
        Policy\\\",\\\"type\\\":\\\"object truncated due to authorization\\\",\\\"description\\\":[\\\"Some
        of the data in this object has been removed.\\\"]},{\\\"title\\\":\\\"REDACTED
        FOR PRIVACY\\\",\\\"type\\\":\\\"object redacted due to authorization\\\",\\\"description\\\":[\\\"Some
        of the data in this object has been removed.\\\"]},{\\\"title\\\":\\\"EMAIL
        REDACTED FOR PRIVACY\\\",\\\"type\\\":\\\"object truncated due to authorization\\\",\\\"description\\\":[\\\"Please
        query the RDDS service of the Registrar of Record identified in this output[...]
- request:
    body: ''
    headers:
      x-api-key:
      - 4b02d-a4719-e33e7-93128-5a5ff
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.2.0&top=2
  response:
    body:
      string: "{\"timestamp\":\"2025-02-13T14:14:47Z\",\"domain\":\"thepizzacrush.com\",\"raw_record\":{\"first_request_timestamp\":\"2025-02-13T14:14:41Z\",\"requests\":[{\"data\":\"{\\\"rdapConformance\\\":[\\\"rdap_level_0\\\",\\\"icann_rdap_response_profile_0\\\",\\\"icann_rdap_technical_implementation_guide_0\\\"],\\\"objectClassName\\\":\\\"domain\\\",\\\"handle\\\":\\\"2795709551_DOMAIN_COM-VRSN\\\",\\\"ldhName\\\":\\\"THEPIZZACRUSH.COM\\\",\\\"unicodeName\\\":\\\"THEPIZZACRUSH.COM\\\",\\\"nameservers\\\":[{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"ns15.wixdns.net\\\",\\\"unicodeName\\\":\\\"ns15.wixdns.net\\\",\\\"lang\\\":\\\"en\\\"},{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"ns14.wixdns.net\\\",\\\"unicodeName\\\":\\\"ns14.wixdns.net\\\",\\\"lang\\\":\\\"en\\\"}],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"billing\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"Wix.com
        Ltd.\\\"],[\\\"kind\\\",{},\\\"text\\\",\\\"individual\\\"],[\\\"lang\\\",{},\\\"language-tag\\\",\\\"en\\\"],[\\\"org\\\",{},\\\"text\\\",\\\"Wix.com
        Ltd.\\\"],[\\\"adr\\\",{\\\"cc\\\":\\\"US\\\"},\\\"text\\\",[\\\"\\\",\\\"\\\",\\\"500
        Terry Francois Blvd\\\",\\\"San Francisco\\\",\\\"CA\\\",\\\"94158\\\",\\\"\\\"]],[\\\"tel\\\",{\\\"type\\\":[\\\"voice\\\"]},\\\"uri\\\",\\\"tel:+1.4154291173\\\"],[\\\"email\\\",{},\\\"text\\\",\\\"thepizzacrush.com@wix-domains.com\\\"]]]},{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"registrar\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"Wix.Com
        Ltd.\\\"],[\\\"kind\\\",{},\\\"text\\\",\\\"individual\\\"],[\\\"lang\\\",{},\\\"language-tag\\\",\\\"en\\\"]]],\\\"publicIds\\\":[{\\\"type\\\":\\\"IANA
        Registrar ID\\\",\\\"identifier\\\":\\\"3817\\\"}],\\\"handle\\\":\\\"3817\\\",\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"abuse\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"Wix.Com
        Ltd.\\\"],[\\\"kind\\\",{},\\\"text\\\",\\\"individual\\\"],[\\\"lang\\\",{},\\\"language-tag\\\",\\\"en\\\"],[\\\"tel\\\",{\\\"type\\\":[\\\"voice\\\"]},\\\"uri\\\",\\\"tel:+1.4154291173\\\"],[\\\"email\\\",{},\\\"text\\\",\\\"domain-abuse@wix.com\\\"]]]}]},{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"reseller\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"Wix.Com
        Ltd.\\\"],[\\\"kind\\\",{},\\\"text\\\",\\\"individual\\\"],[\\\"lang\\\",{},\\\"language-tag\\\",\\\"en\\\"]]]}],\\\"status\\\":[\\\"client
        transfer prohibited\\\",\\\"client update prohibited\\\"],\\\"events\\\":[{\\\"eventAction\\\":\\\"registration\\\",\\\"eventDate\\\":\\\"2023-07-04T06:24:56Z\\\"},{\\\"eventAction\\\":\\\"expiration\\\",\\\"eventDate\\\":\\\"2026-07-04T06:24:56Z\\\"},{\\\"eventAction\\\":\\\"last
        update of RDAP database\\\",\\\"eventDate\\\":\\\"2024-02-06T09:08:20Z\\\"},{\\\"eventAction\\\":\\\"last
        changed\\\",\\\"eventDate\\\":\\\"2024-02-06T09:08:20Z\\\"}],\\\"secureDNS\\\":{\\\"zoneSigned\\\":false,\\\"delegationSigned\\\":false},\\\"publicIds\\\":[{\\\"type\\\":\\\"IANA
        Registrar ID\\\",\\\"identifier\\\":\\\"3817\\\"}],\\\"port43\\\":\\\"whois.wix.com\\\",\\\"notices\\\":[{\\\"title\\\":\\\"Status
        Codes\\\",\\\"description\\\":[\\\"For more information on domain status codes,
        please visit https://icann.org/epp\\\"],\\\"links\\\":[{\\\"value\\\":\\\"https://icann.org/epp\\\",\\\"href\\\":\\\"https://icann.org/epp\\\",\\\"rel\\\":\\\"glossary\\\",\\\"type\\\":\\\"text/html\\\"}]},{\\\"title\\\":\\\"RDDS
        Inaccuracy Complaint Form\\\",\\\"description\\\":[\\\"URL of the ICANN RDDS
        Inaccuracy Complaint Form: https://icann.org/wicf\\\"][...]
