interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/phisheye?app_name=python_wrapper&app_version=0.6.1&query=google
  response:
    content: '{"response":{"term":"google","date":"2022-05-20","domains":[{"domain":"affiliategoogle.com","tld":"com","created_date":"2022-05-18","registrant_email":"dataprivacyprotected@ionos.de","ip_addresses":[{"ip":"74.208.236.184","country_code":"US"},{"ip":"74.208.236.184","country_code":"US"}],"name_servers":["ns1111.ui-dns.org","ns1116.ui-dns.de"],"registrar_name":"IONOS
      SE","risk_score":3},{"domain":"allgoogle.com.cn","tld":"cn","ip_addresses":[{"ip":"149.29.110.170","country_code":"US"},{"ip":"149.29.110.170","country_code":"US"}],"name_servers":["dm1.dns.com","dm2.dns.com"],"registrar_name":"\u5e7f\u5dde\u4e91\u8baf\u4fe1\u606f\u79d1\u6280\u6709\u9650\u516c\u53f8","risk_score":94},{"domain":"aolgoogle.com","tld":"com","created_date":"2021-05-14","registrant_email":"link
      at http:\/\/whois.xinnet.com\/sendemail\/aolgoogle.com","registrar_name":"Xin
      Net Technology Co[...]
[...]
