interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/risk?app_name=python_wrapper&app_version=0.6.1&domain=google.com
  response:
    content: '{"response":{"domain":"google.com","risk_score":0,"components":[{"name":"zerolist","risk_score":0}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '20519'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/risk?app_name=python_wrapper&app_version=0.6.1&domain=hug.rest
  response:
    content: '{"response":{"domain":"hug.rest","risk_score":7,"components":[{"name":"proximity","risk_score":7}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '32876'
    status_code: 200
version: 1
