interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/watched/?app_name=python_wrapper&app_version=0.6.1&include_domain_data=false&offset=0
  response:
    content: '{"watchlist_domains":[{"state":"watched","domain":"googletalker.com.cn","status":"active","discovered_date":"2022-05-17T20:25:12.128000+00:00","changed_date":"2022-05-17T20:26:18.000000+00:00","risk_score":99,"risk_score_status":"provisional","risk_score_components":{"proximity":19,"threat_profile":{"phishing":99}},"mx_exists":false,"tld":"com.cn","id":"gae08rdVWG","escalations":[{"escalation_type":"blocked","id":"oW5bZ5wg9D","created":"2022-05-18T15:49:24.208330+00:00","created_by":"integrations+test1@domaintools.com"},{"escalation_type":"google_safe","id":"4ovg8GBEz3","created":"2022-05-18T15:49:26.495792+00:00","created_by":"integrations+test1@domaintools.com"}],"monitor_ids":["nAwmQg2pqg"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-05-18T18:14:01.000000+00:00"},{"state":"watched","domain":"googlepi.gq","status":"active","discovered_date":"2022-05-17T18:07:17.476000+00:00","changed_date":"2022-05-17T18:11:53.000000+00:00","risk_score":100,"risk_score_status":"full","risk_score_components":{"proximity":100,"threat_profile":{"phishing":97,"malware":64,"spam":45,"evidence":["name
      server","domain name","registrant"]}},"mx_exists":false,"tld":"gq","id":"6EgoNRQKEw","escalations":[],"monitor_ids":["nAwmQg2pqg"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-05-17T20:15:32.000000+00:00"}],"total_count":2,"count":2,"offset":0,"limit":100}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/watched/?app_name=python_wrapper&app_version=0.6.1&include_domain_data=false&monitor_id=nAwmQg2pqg&offset=0&order=desc&sort%5B%5D=risk_score
  response:
    content: '{"watchlist_domains":[{"state":"watched","domain":"googlepi.gq","status":"active","discovered_date":"2022-05-17T18:07:17.476000+00:00","changed_date":"2022-05-17T18:11:53.000000+00:00","risk_score":100,"risk_score_status[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/watched/?app_name=python_wrapper&app_version=0.6.1&escalation_types%5B%5D=blocked&include_domain_data=false&offset=0
  response:
    content: '{"watchlist_domains":[{"state":"watched","domain":"googletalker.com.cn","status":"active","discovered_date":"2022-05-17T20:25:12.128000+00:00","changed_date":"2022-05-17T20:26:18.000000+00:00","risk_score":99,"risk_score_status":"provisional","risk_score_components":{"proximity":19,"threat_profile":{"phishing":99}},"mx_exists":false,"tld":"com.cn","id":"gae08rdVWG","escalations":[{"escalation_type":"blocked","id":"oW5bZ5wg9D","created":"2022-05-18T15:49:24.208330+00:00","created_by":"integrations+test1@domaintools.com"},{"escalation_type":"google_safe","id":"4ovg8GBEz3","created":"2022-05-18T15:49:26.495792+00:00","created_by":"integrations+test1@domaintools.com"}],"monitor_ids":["nAwmQg2pqg"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-05-18T18:14:01.000000+00:00"}],"total_count":1,"count":1,"offset":0,"limit":100}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
