interactions:
- request:
    body: null
    headers: {}
    method: !!python/object/new:multidict._multidict.istr [Get]
    uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&deleted_only=false&has_hyphen=true&has_number=true&max_length=25&min_length=1&page=1&query=google.com
  response:
    body: {string: '{"response":{"query_info":{"active_only":false,"min_length":1,"total_results":0,"exclude_query":"","has_hyphen":true,"max_length":25,"anchor_right":false,"anchor_left":false,"limit":100,"has_number":true,"deleted_only":false,"page":1},"results":[]}}'}
    headers: {CONTENT-ENCODING: gzip, CONTENT-TYPE: application/json;charset=utf-8,
      DATE: 'Mon, 17 Oct 2016 22:49:46 GMT', SERVER: Chuck Norris can judge a book
        by its cover., TRANSFER-ENCODING: chunked, VARY: Accept-Encoding}
    status: {code: 200, message: OK}
    url: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_right=false&api_username=tcrosley&max_length=25&exclude_query=&page=1&api_key=c5fbd-509d3-2604e-476f4-a14bd&has_number=true&min_length=1&deleted_only=false&query=google.com&anchor_left=false&has_hyphen=true
- request:
    body: null
    headers: {}
    method: !!python/object/new:multidict._multidict.istr [Get]
    uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&deleted_only=false&has_hyphen=true&has_number=true&max_length=25&min_length=1&page=1&query=google
  response:
    body: {string: '{"response":{"query_info":{"active_only":false,"min_length":1,"total_results":100000,"exclude_query":"","has_hyphen":true,"max_length":25,"anchor_right":false,"anchor_left":false,"limit":100,"has_number":true,"deleted_only":false,"page":1},"results":[{"char_count":6,"tlds":["ac","ac.cn","ac.nz","ac.vn","ad","adm.br","adult","adv.br","ae","af","ag","agr.br","ah.cn","ai","al","am","am.br","amsterdam","archi","as","asia","at","auto","ax","az","ba","bar","barcelona","bayern","bbs.tr","be","berlin","bet","bf","bg","bi","bialystok.pl","biz","biz.id","biz.pk","biz.pl","biz.tr","biz.ua","bj","bj.cn","blog","bo","broker","bs","bt","business","by","bz","ca","capetown","car","career","cars","casa","cat","cc","cd","cf","cg","ch","ci","cl","cloud","club.tw","cm","cn","co","co.[...]
[...]
