interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/iphotlist/?after=-60&app_name=python_wrapper&app_version=2.9.0&top=5
  response:
    body:
      string: '{"timestamp":"2026-07-29T14:56:18Z","ip":"3.34.27.215","pdns_resolutions":7,"bad_pdns_resolutions":4,"total_domains":7,"third_party_threats":4,"all_threats_combined_percent":57,"combined_phishing_percent":0,"combined_malware_percent":0,"combined_spam_percent":57,"asn":16509,"organization":"AWS
        Asia Pacific (Seoul) Region","city":"Jung-gu (incheon)","country":"KR","latitude":37.474,"longitude":126.622,"all_threats_combined_count":4,"malicious_phishing":0,"malicious_malware":0,"malicious_spam":4,"compromised_phishing":0,"compromised_malware":0,"compromised_spam":0,"predicted_phishing":0,"predicted_malware":0,"predicted_spam":0,"all_threats_percent":57,"percent_phishing":0,"percent_malware":0,"percent_spam":57,"zerolist_domains":0,"zerolist_ip":false}

        {"timestamp":"2026-07-29T14:56:18Z","ip":"34.54.243.149","pdns_resolutions":1,"bad_pdns_resolutions":1,"total_domains":1,"third_party_threats":1,"all_threats_combined_percent":100,"combined_phishing_percent":0,"combined_malware_percent":100,"combined_spam_percent":0,"asn":396982,"organization":"Google
        Llc","city":"Kansas City","country":"US","latitude":39.10771,"longitude":-94.53961,"all_threats_combined_count":1,"malicious_phishing":0,"malicious_malware":1,"malicious_spa[...]
[...]
