interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/reverse-whois?app_name=python_wrapper&app_version=1.0.0&mode=purchase&scope=current&terms=Amazon
  response:
    content: '{"response":{"domain_count":{"current":265018,"historic":430542},"report_price":{"current":26501,"historic":43054},"report_cost":{"current":0,"historic":0},"domains":["0-10-exhibition.com","0-46.com","0-8.capital","0-daymovie.com","000-ixactcontactssl.com","0001-selz-certficate.info","0008.name","001246.com","007.bot","007sdomain.com","008ccb.com","009soundsystem.com","00quantum.link","01-zero.com","0100000101010111010100110110001101100010.com","01000101.ninja","010group.com","010uk.com","01craft.net","01mcp.com","01zero.com","01zerogroup.com","01zerogroup.net","02-ic-consult.com","0200a.click","02399a.com","02399aa.com","02399ab.com","02399ac.com","02399ad.[...]
