interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/watched/?app_name=python_wrapper&app_version=1.0.1&include_domain_data=false&offset=0
  response:
    content: '{"watchlist_domains":[{"state":"watched","domain":"httpsmyaccountgooglecom.com","status":"active","discovered_date":"2022-06-12T07:45:12.432000+00:00","changed_date":"2022-06-12T07:46:05.000000+00:00","risk_score":100,"risk_score_status":"full","risk_score_components":{"proximity":100,"threat_profile":{"phishing":99,"malware":80,"spam":95,"evidence":["domain
      name","registrant","ip address"]}},"mx_exists":true,"tld":"com","id":"KW36NNpDPp","escalations":[],"monitor_ids":["nAwmQg2pqg"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-06-16T15:08:34.000000+00:00"},{"state":"watched","domain":"accountcheckgoogle.ml","status":"active","discovered_date":"2022-05-20T13:16:29.550000+00:00","changed_date":null,"risk_score":99,"risk_score_status":"full","risk_score_components":{"proximity":28,"threat_profile":{"phishing":99,"malware":97,"spam":99,"evidence":["domain
      name","name server","ip address"]}},"mx_exists":false,"tld":"ml","id":"OWxzqKqQEY","escalations":[{"escalation_type":"blocked","id":"5X1xLoWbp2","created":"2022-05-20T19:04:23.982670+00:00","created_by":"integrations+test1@domaintools.com"},{"escalation_type":"google_safe","id":"W7Vb2GBx8m","created":"2022-05-20T19:04:26.283318+00:00","created_by":"integrations+test1@domaintools.com"}],"monitor_ids":["nAwmQg2pqg"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-05-20T19:04:27.000000+00:00"},{"state":"watched","domain":"googletalker.com.cn","status":"active","discovered_date":"2022-05-17T20:25:12.128000+00:00","changed_date":"2022-06-16T10:04:49.000000+00:00","risk_score[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/watched/?app_name=python_wrapper&app_version=1.0.1&include_domain_data=false&monitor_id=nAwmQg2pqg&offset=0&order=desc&sort%5B%5D=risk_score
  response:
    content: '{"watchlist_domains":[{"state":"watched","domain":"httpsmyaccountgooglecom.com","status":"active","discovered_date":"2022-06-12T07:45:12.432000+00:00","changed_date":"2022-06-12T07:46:05.000000+00:00","risk_score":100,"r[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/watched/?app_name=python_wrapper&app_version=1.0.1&escalation_types%5B%5D=blocked&include_domain_data=false&offset=0
  response:
    content: '{"watchlist_domains":[{"state":"watched","domain":"accountcheckgoogle.ml","status":"active","discovered_date":"2022-05-20T13:16:29.550000+00:00","changed_date":null,"risk_score":99,"risk_score_status":"full","risk_score_components":{"proximity"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/watched/?app_name=python_wrapper&app_version=2.1.0&include_domain_data=false&offset=0
  response:
    content: '{"watchlist_domains":[],"total_count":0,"count":0,"offset":0,"limit":100}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/watched/?app_name=python_wrapper&app_version=2.1.0&escalation_types%5B%5D=blocked&include_domain_data=false&offset=0
  response:
    content: '{"watchlist_domains":[],"total_count":0,"count":0,"offset":0,"limit":100}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
