interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/google.com/reverse-ip?app_name=python_wrapper&app_version=0.6.1
  response:
    content: '{"response":{"ip_addresses":[{"ip_address":"142.250.217.100","domain_count":210,"domain_names":["365331C.COM","365331D.COM","365331F.COM","365331J.COM","365331R.COM","365331T.COM","365331W.COM","365777.ORG","3S-LAOS.COM","7366.TOP","8311.PARTY","APINHEIRO99.CLUB","ARTHORTECH.COM","ARTSMARTIAUXCOMBAT.COM","ASHCR.COM","AWY.GG","AYEWSHAW.COM","AZNHOMIES.COM","BABYAXS.APP","BCTRIAL.COM","BDS.COM.MY","BILLOBRIDAL.COM","BLESLIE.COM","BLITOP.COM","BONCERD.COM","BREADMOREHOPKINS.UK","BRINGRATE.COM","CALLIOPEAPP.COM","CAMPUS.SYSTEMS","CARBONITEBLOWS.COM","CATTAILS.CO.UK","CECCINDIA.COM","CHENS.TW"[...]
