interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/risk/evidence/?app_name=python_wrapper&app_version=0.6.1&domain=google.com
  response:
    content: '{"response":{"domain":"google.com","risk_score":0,"components":[{"name":"zerolist","risk_score":0}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '21128'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/risk/evidence/?app_name=python_wrapper&app_version=0.6.2&domain=google.com
  response:
    content: '{"response":{"domain":"google.com","risk_score":0,"components":[{"name":"zerolist","risk_score":0}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '23246'
    status_code: 200
version: 1
