interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.2.0&sessiondID=integrations-testing&top=5
  response:
    body:
      string: "{\"timestamp\":\"2025-01-27T17:02:38Z\",\"domain\":\"whitespot-system.com\",\"raw_record\":{\"first_request_timestamp\":\"2025-01-27T17:02:34Z\",\"requests\":[{\"data\":\"{\\\"objectClassName\\\":\\\"domain\\\",\\\"handle\\\":\\\"2002177069_DOMAIN_COM-VRSN\\\",\\\"ldhName\\\":\\\"WHITESPOT-SYSTEM.COM\\\",\\\"links\\\":[{\\\"value\\\":\\\"https:\\\\/\\\\/rdap.verisign.com\\\\/com\\\\/v1\\\\/domain\\\\/WHITESPOT-SYSTEM.COM\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.verisign.com\\\\/com\\\\/v1\\\\/domain\\\\/WHITESPOT-SYSTEM.COM\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\"},{\\\"value\\\":\\\"https:\\\\/\\\\/rdap.domainconnection.info\\\\/domain\\\\/WHITESPOT-SYSTEM.COM\\\",\\\"rel\\\":\\\"related\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.domainconnection.info\\\\/domain\\\\/WHITESPOT-SYSTEM.COM\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\"}],\\\"status\\\":[\\\"active\\\"],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"handle\\\":\\\"379\\\",\\\"roles\\\":[\\\"registrar\\\"],\\\"publicIds\\\":[{\\\"type\\\":\\\"IANA
        Registrar ID\\\",\\\"identifier\\\":\\\"379\\\"}],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"Arsys
        Internet, S.L. dba NICLINE.COM\\\"]]],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"abuse\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"\\\"],[\\\"tel\\\",{\\\"type\\\":\\\"voice\\\"},\\\"uri\\\",\\\"tel:+34
        941 620 100\\\"],[\\\"email\\\",{},\\\"text\\\",\\\"abuse@nicline.com\\\"]]]}]}],\\\"events\\\":[{\\\"eventAction\\\":\\\"registration\\\",\\\"eventDate\\\":\\\"2016-02-12T14:28:12Z\\\"},{\\\"eventAction\\\":\\\"expiration\\\",\\\"eventDate\\\":\\\"2025-02-12T14:28:12Z\\\"},{\\\"eventAction\\\":\\\"last
        changed\\\",\\\"eventDate\\\":\\\"2024-02-13T08:19:49Z\\\"},{\\\"eventAction\\\":\\\"last
        update of RDAP database\\\",\\\"eventDate\\\":\\\"2025-01-27T17:02:21Z\\\"}],\\\"secureDNS\\\":{\\\"delegationSigned\\\":false},\\\"nameservers\\\":[{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"NS1.SESDERMA.COM\\\"},{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"NS2.SESDERMA.COM\\\"}],\\\"rdapConformance\\\":[\\\"rdap_level_0\\\",\\\"icann_rdap_technical_implementation_guide_0\\\",\\\"icann_rdap_response_profile_0\\\"],\\\"notices\\\":[{\\\"title\\\":\\\"Terms
        of Use\\\",\\\"description\\\":[\\\"Service subject to Terms of Use.\\\"],\\\"links\\\":[{\\\"href\\\":\\\"https:\\\\/\\\\/www.verisign.com\\\\/domain-names\\\\/registration-data-access-protocol\\\\/terms-service\\\\/index.xhtml\\\",\\\"type\\\":\\\"text\\\\/html\\\"}]},{\\\"title\\\":\\\"Status
        Codes\\\",\\\"description\\\":[\\\"For more information on domain status codes,
        please visit https:\\\\/\\\\/icann.org\\\\/epp\\\"],\\\"links\\\":[{\\\"href\\\":\\\"https:\\\\/\\\\/icann.org\\\\/epp\\\",\\\"type\\\":\\\"text\\\\/html\\\"}]},{\\\"title\\\":\\\"RDDS
        Inaccuracy Complaint Form\\\",\\\"description\\\":[\\\"URL of the ICANN RDDS
        Inaccuracy Complaint Form: https:\\\\/\\\\/icann.org\\\\/wicf\\\"],\\\"links\\\":[{\\\"href\\\":\\\"https:\\\\/\\\\/icann.org\\\\/wicf\\\",\\\"type\\\":\\\"text\\\\/html\\\"}]}]}\",\"source_type\":\"registry\",\"timestamp\":\"2025-01-27T17:02:34Z\",\"url\":\"https://rdap.verisign.com/com/v1/domain/whitespot-system.com\"},{\"data\":\"{\\\"objectClassName\\\":\\\"domain\\\",\\\"ldhName\\\":\\\"whitespot-system.com\\\",\\\"events\\\":[{\\\"eventAction\\\":\\\"registration\\\",\\\"eventDate\\\":\\\"2016-02-12T15:28:11.000Z\\\"},{\\\"eventAction\\\":\\\"last
        changed\\\",\\\"eventDate\\\":\\\"2017-02-13T12:15:11.000Z\\\"},{\\\"eventAction\\\":\\\"expiration\\\",\\\"eventDate\\\":\\\"2025-02-12T14:28:12.000Z\\\"},{\\\"eventAction\\\":\\\"last
        update of RDAP database\\\",\\\"eventDate\\\":\\\"2025-01-27T17:02:37.911Z\\\"}],\\\"status\\\":[\\\"active\\\"],\\\"port43\\\":\\\"whois.nicline.com\\\",\\\"lang\\\":\\\"en\\\",\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"registrant\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"\\\"],[\\\"contact-uri\\\",{},\\\"uri\\\",\\\"https://registrar.domainconnection.info/\\\"],[\\\"adr\\\",{\\\"cc\\\":\\\"ES\\\"},\\\"text\\\",[\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\",\\\"VALENCIA\\\",\\\"\\\",\\\"\\\"]]]],\\\"status\\\":[\\\"removed\\\"],\\\"remarks\\\":[{\\\"title\\\":\\\"REDACTED
        FOR PRIVACY\\\",\\\"type\\\":\\\"object redacted due to authorization\\\",\\\"description\\\":[\\\"Some
        of the data in this object has been removed\\\"]},{\\\"title\\\":\\\"EMAIL
        REDACTED FOR PRIVACY\\\",\\\"type\\\":\\\"object redacted due to authorization\\\",\\\"description\\\":[\\\"This
        email has been redacted for privacy. You could use the 'contact-uri' to contact
        the registrant of the domain.\\\"]}]},{\\\"objectClassName\[...]
- request:
    body: ''
    headers:
      x-api-key:
      - 4b02d-a4719-e33e7-93128-5a5ff
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.2.0&header_authenticationn=false&sessiondID=integrations-testing&top=5
  response:
    body:
      string: "{\"timestamp\":\"2025-02-19T17:27:00Z\",\"domain\":\"cadorie.com\",\"raw_record\":{\"first_request_timestamp\":\"2025-02-19T17:26:58Z\",\"requests\":[{\"data\":\"{\\\"rdapConformance\\\":
        [\\\"rdap_level_0\\\", \\\"icann_rdap_response_profile_0\\\", \\\"icann_rdap_technical_implementation_guide_0\\\"],
        \\\"objectClassName\\\": \\\"domain\\\", \\\"handle\\\": \\\"2805058526_DOMAIN_COM-VRSN\\\",
        \\\"ldhName\\\": \\\"CADORIE.COM\\\", \\\"unicodeName\\\": \\\"CADORIE.COM\\\",
        \\\"nameservers\\\": [{\\\"objectClassName\\\": \\\"nameserver\\\", \\\"ldhName\\\":
        \\\"ns-cloud-d1.googledomains.com\\\", \\\"unicodeName\\\": \\\"ns-cloud-d1.googledomains.com\\\",
        \\\"lang\\\": \\\"en\\\"}, {\\\"objectClassName\\\": \\\"nameserver\\\", \\\"ldhName\\\":
        \\\"ns-cloud-d2.googledomains.com\\\", \\\"unicodeName\\\": \\\"ns-cloud-d2.googledomains.com\\\",
        \\\"lang\\\": \\\"en\\\"}, {\\\"objectClassName\\\": \\\"nameserv[...]
