interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/account?app_name=python_wrapper&app_version=1.0.1
  response:
    content: '{"response":{"account":{"api_username":"integrations_testing","active":true},"products":[{"id":"account-information","per_month_limit":"100000","per_hour_limit":"1","per_minute_limit":"5","absolute_limit":null,"usage":{"today":"0","month":"12"},"expiration_date":null},{"id":"iris-investigate","per_month_limit":"1000","per_hour_limit":"1","per_minute_limit":"20","absolute_limit":null,"usage":{"today":"0","month":"0"},"expiration_date":null},{"id":"iris-enrich","per_month_limit":"1000","per_hour_limit":"1","per_minute_limit":"20","absolute_limit":null,"usage":{"today":"0","month":"5"},"expiration_date":null},{"id":"iris-detect-escalate-domains","per_month_limit":"1500","per_hour_limit":"1","per_minute_limit":"30","absolute_limit":null,"usage":{"today":"0"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/mark-alert?app_name=python_wrapper&app_version=1.0.1&query=google
  response:
    content: '{"response":{"query":"google","limit":1000,"total":114,"exclude":[],"new":true,"on-hold":true,"utf8":false,"date":"2022-06-16","alerts":[{"domain":"3sgoogle.com","status":"on-hold"},{"domain":"9o9google.com","status":"on-hold"},{"domain":"accountsgoogle.email","status":"new"},{"domain":"accountsgoogle.online","status":"new"},{"domain":"accountsgoogle.site","status":"new"},{"domain":"advertiseongoogle.com","status":"on-hold"},{"domain":"amgoogle.com","status":"on-hold"},{"domain":"angoogle.cn","status":"on-hold"},{"domain":"bdogoogle.com","status":"on-hold"},{"domain":"berlusgoogle.com","status":"new"},{"domain":"buygoogle.top","status":"new"},{"domain":"calculago[...]
[...]
