interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/registrant-alert?app_name=python_wrapper&app_version=0.6.1&days_back=0&query=google
  response:
    content: '{"response":{"query":"google","limit":200,"total":11432,"date":"2022-05-20","alerts":[{"domain":"04maiodigital.com","match_type":"added","current_owner":"Contact
      Privacy Inc. Customer 7151571251","created":"2022-05-19","modified":"2022-05-19","last_owner":""},{"domain":"0x5443.net","match_type":"added","current_owner":"Contact
      Privacy Inc. Customer 7151571251","created":"2022-05-19","modified":"2022-05-19","last_owner":"Domain
      Protection Services, Inc."},{"domain":"13320beach.com","match_type":"removed","current_owner":"Domains
      By Proxy, LLC","created":"2022-05-19","modified":"2022-05-19","last_owner":"Contact
      Privacy Inc. Customer 1245070758"},{"domain":"2518northsecondstreet.com","match_type":"added","current_owner":"Con[...]
[...]
