interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/ss/reverse-ip?app_name=python_wrapper&app_version=1.0.1
  response:
    content: '{"error":{"code":400,"message":"We could not understand your request.
      It may be missing important parameters or is simply malformed. Consult the API
      documentation for more details."},"resources":{"support":"https:\/\/www.domaintools.com\/support\/"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '367'
    status_code: 400
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/steianrstierstnrsiatiarstnsto.com/whois?app_name=python_wrapper&app_version=1.0.1
  response:
    content: '{"error":{"code":404,"message":"We have no recent WHOIS information
      available for this domain\/IP Address."},"resources":{"support":"https:\/\/www.domaintools.com\/support\/"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '20826'
    status_code: 404
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v2/domain-search?active_only=false&anchor_left=false&anchor_right=false&app_name=python_wrapper&app_version=1.0.1&deleted_only=false&has_hyphen=true&has_number=true&max_length=25&min_length=2&page=1&query=amazon
  response:
    content: '{"error":{"code":403,"message":"The credentials you entered do not match
      an active account."},"resources":{"support":"https:\/\/www.domaintools.com\/support\/"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '5530'
    status_code: 403
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/ss/reverse-ip?app_name=python_wrapper&app_version=2.0.0
  response:
    content: '{"error":{"code":400,"message":"We could not understand your request.
      It may be missing important parameters or is simply malformed. Consult the API
      documentation for more details."},"resources":{"support":"https:\/\/www.domaintools.com\/support\/"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '363'
    status_code: 400
version: 1
