interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/ignored/?app_name=python_wrapper&app_version=1.0.1&include_domain_data=false&offset=0
  response:
    content: '{"watchlist_domains":[{"state":"ignored","domain":"amazonfreevee.ae","status":"active","discovered_date":"2022-06-11T01:02:34.923000+00:00","changed_date":null,"risk_score":26,"risk_score_status":"full","risk_score_components":{"proximity":0,"threat_profile":{"phishing":26,"malware":0,"spam":0,"evidence":[]}},"mx_exists":false,"tld":"ae","id":"3ENBZ6w6EX","escalations":[],"monitor_ids":["DKObxJVjYJ"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-06-16T15:08:00.000000+00:00"},{"state":"ignored","domain":"googlestreetview.online","status":"active","discovered_date":"2022-05-19T11:43:48.226000+00:00","changed_date":"2022-05-19T12:04:58.000000+00:00","risk_score":36,"risk_score_status":"full","risk_score_components":{"proximity":4,"threat_profile":{"phishing":36,"malware":15,"spam":13,"evidence":[]}},"mx_exists":true,"tld":"online","id":"KW3Dl7vzap","escalations":[],"monitor_ids":["nAwmQg2pqg"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-05-19T17:56:08.000000+00:00"},{"state":"ignored","domain":"googleadspodcast.com","status":"active","discovered_date":"2022-05-19T05:47:59.201000+00:00","changed_date":"2022-06-07T23:09:49.000000+00:00","risk_score":68,"risk_score_status":"full","risk_score_components":{"proximity":9,"threat_profile":{"phishing":68,"malware":10,"spam":8,"evidence":["domain
      name","registrant","name server"]}},"mx_exists":false,"tld":"com","id":"7WKo18K9WR","escalations":[],"monitor_ids":["nAwmQg2pqg"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-05-19T17:50:35.000000+00:00"}],"total_count":3,"count":3,"offset":0,"limit":100}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/ignored/?app_name=python_wrapper&app_version=1.0.1&include_domain_data=false&monitor_id=DKObxJVjYJ&offset=0
  response:
    content: '{"watchlist_domains":[{"state":"ignored","domain":"amazonfreevee.ae","status":"active","discovered_date":"2022-06-11T01:02:34.923000+00:00","changed_date":null,"risk_score":26,"risk_score_status":"full","risk_score_components":{"proximity":0,"threat_profile":{"phishing":26,"malware":0,"spam":0,"evidence":[]}},"mx_exists":false,"tld":"ae","id":"3ENBZ6w6EX","escalations":[],"monitor_ids":["DKObxJVjYJ"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-06-16T15:08:00.000000+00:00"}],"total_count":1,"count":1,"offset":0,"limit":100}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/ignored/?app_name=python_wrapper&app_version=2.0.0&include_domain_data=false&monitor_id=DKObxJVjYJ&offset=0
  response:
    content: '{"watchlist_domains":[{"state":"ignored","domain":"amazonfreevee.ae","status":"active","discovered_date":"2022-06-11T01:02:34.923000Z","changed_date":"2023-09-16T22:53:32.000000Z","risk_score":2,"risk_score_status":"full","risk_score_components":{"proximity":1,"threat_profile":{"phishing":2,"malware":2,"spam":1,"evidence":[]}},"mx_exists":false,"tld":"ae","id":"3ENBZ6w6EX","escalations":[],"monitor_ids":["DKObxJVjYJ"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-06-16T15:08:00.000000+00:00"}],"total_count":1,"count":1,"offset":0,"limit":100}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
