interactions:
- request:
    body: '{"api_username": "cwoodraska", "timestamp": "2022-03-07T21:06:38Z", "signature":
      "5fdf43d9f02e1db43b1e6078c3f02b815e164285fab1ace177e2468d6e7f5294", "state":
      "watched", "watchlist_domain_ids": ["Zadmr81nEd"]}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.domaintools.com/v1/iris-detect/domains/
  response:
    body:
      string: '{"watchlist_domains":[{"state":"watched","domain":"caritasukraine.org","discovered_date":"2022-03-01T21:33:42.265000+00:00","changed_date":"2022-03-01T21:36:12.000000+00:00","id":"Zadmr81nEd","assigned_by":"cwoodraska@domaintools.com","assigned_date":"2022-03-07T21:06:39.000000+00:00"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
