interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/new/?include_domain_data=false&offset=0
  response:
    body:
      string: '{"watchlist_domains":[{"state":"new","domain":"metayacht.de","status":"active","discovered_date":"2022-02-16T21:37:09.120000+00:00","changed_date":"2022-02-16T21:37:38.000000+00:00","risk_score":null,"risk_score_status":null,"mx_exists":false,"tld":"de","id":"ka0bg2NVPK","escalations":[],"monitor_ids":["ZBEp9ZvjYX"]},{"state":"new","domain":"tollfreenumberk7computingk7.net","status":"active","discovered_date":"2022-02-16T21:36:54.609000+00:00","changed_date":"2022-02-16T21:37:31.000000+00:00","risk_score":15,"risk_score_status":"provisional","risk_score_components":{"proximity":15},"mx_exists":false,"tld":"net","id":"ba47jkzJWg","escalations":[],"monitor_ids":["dZ4jKRMp8V"]},{"state":"new","domain":"safecitizensauth.com","status":"active","discovered_date":"2022-02-16T21:36:25.589000+00:00","changed_date":"2022-02-16T21:36:25.589000+00:00","risk_score":10,"risk_score_status":"provisional","risk_score_components":{"proximity":10},"mx_exists":false,"tld":"com","id":"XEmKlNVgW7","escalations":[],"monitor_ids":["WZVmOQpe59"]},{"state":"new","domain":"haifiamazon.com","status":"active","discovered_date":"2022-02-16T21:35:24.521000+00:00","changed_date":"2022-02-16T21:35:24.521000+00:00","risk_score":3,"risk_score_status":"provisional","risk_score_components":{"proximity":3},"mx_exists":false,"tld":"com","id":"lWJBJwjwWJ","escalations":[],"monitor_ids":["QEMba7ljxo"]},{"state":"new","domain":"be-compliant.org","status":"active","discovered_date":"2022-02-16T21:34:04.424000+00:00","changed_date":"2022-02-16T21:34:21.000000+00:00","risk_score":11,"risk_score_status":"provisional","risk_score_components":{"proximity":11},"mx_exists":false,"tld":"org","id":"mPjGvKovWA","escalations":[],"monitor_ids":["dZ4jKRMp8V"],"registrant_contact_email":[],"name_server":[{"host":"shades16.rzone.de"},{"host":"docks03.rzone.de"}],"registrar":"Cronon
        AG","create_date":20151113,"ip":[{"country_code":"DE","ip":"81.169.145.158","isp":"Strato
        AG"}],"mx":[{"host":"smtpin.rzone.de"}]},{"state":"new","domain":"authentification-support.website","status":"active","discovered_date":"2022-02-16T21:33:55.395000+00:00","changed_date":"2022-02-16T21:34:15.000000+00:00","risk_score":81,"risk_score_status":"provisional","risk_score_components":{"proximity":81},"mx_exists":false,"tld":"website","id":"ba47jkNJWg","escalations":[],"monitor_ids":["WZVmOQpe59"],"registrant_contact_email":["please
        query the rdds service of the registrar of record identified in this output
        for information on how to contact the registrant, admin, or tech contact of
        the queried domain name."],"registrar":"eNom, Inc.","create_date":20220216},{"state":"new","domain":"theunwelcomedproject.com","status":"active","discovered_date":"2022-02-16T21:33:51.468000+00:00","changed_date":"2022-02-16T21:34:14.000000+00:00","risk_score":17,"risk_score_status":"provisional","risk_score_components":{"proximity":14,"threat_profile":{"phishing":17}},"mx_exists":true,"tld":"com","id":"6EggyJoKEw","escalations":[],"monitor_ids":["dZ4jKRMp8V"]},{"state":"new","domain":"metahelplnstagram.cf","status":"active","discovered_date":"2022-02-16T21:33:40.590000+00:00","changed_date":"2022-02-16T21:34:16.000000+00:00","risk_score":95,"risk_score_status":"provisional","risk_score_components":{"proximity":95,"threat_profile":{"phishing":88}},"mx_exists":true,"tld":"cf","id":"8av5vAKVWj","escalations":[],"monitor_ids":["ZBEp9ZvjYX"]},{"state":"new","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/new/?include_domain_data=false&monitor_id=QEMba7ljxo&offset=0&order=desc&sort%5B%5D=risk_score
  response:
    body:
      string: '{"watchlist_domains":[{"state":"new","domain":"idcase88amazon.com","status":"active","discovered_date":"2022-02-14T21:28:24.537000+00:00","changed_date":"2022-02-14T21:28:56.000000+00:00","risk_score":100,"risk_score_status":"full","risk_score_components":{"proximity":100,"threat_profile":{"phishing":22,"malware":0,"spam":2,"evidence":[]}},"mx_exists":false,"tld":"com","id":"ba478dl7Wg","escalations":[],"monitor_ids":["QEMba7ljxo"],"registrant_contact_email":[],"name_server":[{"host":"ns15.wixdns.net"},{"host":"ns14.wixdns.net"}],"registrar":"Wix.Com
        Ltd.","create_date":20220214,"ip":[{"country_code":"US","ip":"185.230.63.186"},{"country_code":"US","ip":"185.230.63.107"},{"country_code":"US","ip":"185.230.63.171"},{"country_code":"US","ip":"54.184.58.211","isp":"Amazon.com
        Inc."}]},{"state":"new","domain":"ama[...]
