interactions:
- request:
    body: app_name=python_wrapper&app_version=0.6.1&escalation_type=blocked&watchlist_domain_ids%5B%5D=OWxzqKqQEY
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.domaintools.com/v1/iris-detect/escalations/
  response:
    content: '{"escalations":[{"watchlist_domain_id":"OWxzqKqQEY","escalation_type":"blocked","id":"5X1xLoWbp2","created_date":"2022-05-20T19:04:23.982670+00:00","updated_date":"2022-05-20T19:04:23.982670+00:00","created_by":"integrations+test1@domaintools.com"}]}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: app_name=python_wrapper&app_version=0.6.1&escalation_type=google_safe&watchlist_domain_ids%5B%5D=OWxzqKqQEY
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.domaintools.com/v1/iris-detect/escalations/
  response:
    content: '{"escalations":[{"watchlist_domain_id":"OWxzqKqQEY","escalation_type":"google_safe","id":"W7Vb2GBx8m","created_date":"2022-05-20T19:04:26.283318+00:00","updated_date":"2022-05-20T19:04:26.283318+00:00","created_by":"integrations+test1@domaintools.com"}]}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
