interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/monitors/?offset=0&order=desc
  response:
    body:
      string: '{"total_count":21,"offset":0,"limit":500,"monitors":[{"term":"amazon","match_substring_variations":false,"nameserver_exclusions":[],"text_exclusions":[],"id":"QEMba7ljxo","created_date":"2021-11-11T21:49:09.206924+00:00","updated_date":"2021-11-11T21:49:09.206924+00:00","state":"active","status":"completed","created_by":"meddy@domaintools.com"},{"term":"antifa","match_substring_variations":false,"nameserver_exclusions":[],"text_exclusions":[],"id":"8W2p0lpzOM","created_date":"2021-06-03T19:50:34.640067+00:00","updated_date":"2021-06-03T19:50:34.640067+00:00","state":"active","status":"completed","created_by":"piffey@piffey.net"},{"term":"apple","match_substring_variations":false,"nameserver_exclusions":[],"text_exclusions":[],"id":"JngmNwZb9v","created_date":"2021-10-19T18:20:42.447126+00:00","updated_date":"20[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/monitors/?offset=0&order=desc&sort%5B%5D=domain_counts_discovered&sort%5B%5D=term
  response:
    body:
      string: '{"total_count":21,"offset":0,"limit":500,"monitors":[{"term":"meta","match_substring_variations":false,"nameserver_exclusions":[],"text_exclusions":[],"id":"ZBEp9ZvjYX","created_date":"2021-11-10T00:15:04.553628+00:00","updated_date":"2021-11-10T00:15:04.553628+00:00","state":"active","status":"completed","domain_counts":{"new":258358,"watched":2,"escalated":0,"changed":1},"created_by":"gsamson@domaintools.com"},{"term":"com","match_substring_variations":false,"nameserver_exclusions":[],"text_exclusions":[],"id":"dZ4jKRMp8V","created_date":"2022-01-07T21:13:37.476991+00:00","updated_date":"2022-01-07T21:13:37.476991+00:00","state":"active","status":"completed","domain_counts":{"new":103561,"watched":90,"escalated":0,"changed":6},"created_by":"gsamson@domaintools.com"},{"term":"metaverse","match_substring_variations":false,"nameserver_exclusions":[],"text_exclus[...]
