interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.2.0&sessiondID=integrations-testing&top=5
  response:
    body:
      string: "{\"timestamp\":\"2025-01-21T16:39:42Z\",\"domain\":\"folding-beds-76808.bond\",\"raw_record\":{\"first_request_timestamp\":\"2025-01-21T16:39:37Z\",\"requests\":[{\"data\":\"{\\\"rdapConformance\\\":[\\\"icann_rdap_response_profile_1\\\",\\\"icann_rdap_response_profile_0\\\",\\\"icann_rdap_technical_implementation_guide_1\\\",\\\"icann_rdap_technical_implementation_guide_0\\\",\\\"rdap_level_0\\\",\\\"redacted\\\"],\\\"lang\\\":\\\"en\\\",\\\"objectClassName\\\":\\\"domain\\\",\\\"handle\\\":\\\"D520974534-CNIC\\\",\\\"ldhName\\\":\\\"folding-beds-76808.bond\\\",\\\"nameservers\\\":[{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"ns1.nic53.net\\\",\\\"handle\\\":\\\"H15911144-CNIC\\\",\\\"links\\\":[{\\\"title\\\":\\\"Authoritative
        URL for this resource\\\",\\\"rel\\\":\\\"self\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\",\\\"value\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/domain\\\\/folding-beds-76808.bond\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/nameserver\\\\/ns1.nic53.net\\\"}]},{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"ns2.nic53.de\\\",\\\"handle\\\":\\\"H15911149-CNIC\\\",\\\"links\\\":[{\\\"title\\\":\\\"Authoritative
        URL for this resource\\\",\\\"rel\\\":\\\"self\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\",\\\"value\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/domain\\\\/folding-beds-76808.bond\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.centralnic.com\\\\/bond\\\\/nameserver\\\\/ns2.nic53.de\\\"}]}],\\\"secureDNS\\\":{\\\"delegationSigned\\\":false},\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"registrant\\\"],\\\"handle\\\":\\\"C1039586340-CNIC\\\",\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",[],\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",[],\\\"text\\\",\\\"\\\"],[\\\"adr\\\",{\\\"CC\\\":\\\"IL\\\"},\\\"text\\\",[\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\",\\\"\\\"]]]],\\\"remarks\\\":[{\\\"title\\\":\\\"Data
        Policy\\\",\\\"type\\\":\\\"object truncated due to authorization\\\",\\\"description\\\":[\\\"Some
        of the data in this object has been removed.\\\"]},{\\\"title\\\":\\\"REDACTED
        FOR PRIVACY\\\",\\\"type\\\":\\\"object redacted due to authorization\\\",\\\"description\\\":[\\\"Some
        of the data in this object has been removed.\\\"]},{\\\"title\\\":\\\"EMAIL
        REDACTED FOR PRIVACY\\\",\\\"type\\\":\\\"object truncated due to authorization\\\",\\\"description\\\":[\\\"Please
        query the RDDS service of the Registrar of Record identified in this output[...]
- request:
    body: ''
    headers:
      x-api-key:
      - 4b02d-a4719-e33e7-93128-5a5ff
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.2.0&header_authenticationn=false&top=2
  response:
    body:
      string: '{"timestamp":"2025-02-19T17:26:58Z","domain":"hebatdisini.xyz","raw_record":{"first_request_timestamp":"2025-02-19T17:26:54Z","requests":[{"data":"{\"rdapConformance\":[\"icann_rdap_response_profile_1\",\"icann_rdap_response_profile_0\",\"icann_rdap_technical_impl[...]
- request:
    body: ''
    headers:
      x-api-key:
      - 4b02d-a4719-e33e7-93128-5a5ff
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.3.0&header_authenticationn=false&top=2
  response:
    body:
      string: '{"timestamp":"2025-02-21T12:51:48Z","domain":"centroamerica.org","raw_record":{"first_request_timestamp":"2025-02-21T12:51:46Z","requests":[{"data":"{\n  \"rdapConformance\":
        [\n    \"rdap_level_0\",\n    \"icann_rdap_response_profile_0\",\n    \"icann_rdap_technical_implementation_guide_0\"\n  ],\n  \"notices\":
        [\n    {\n      \"title\": \"Terms of Service\",\n      \"description\": [\n        \"Public
        Interest Registry provides this RDAP service for informational purposes only,
        and to assist persons in obtaining information about or related to a domain
        name registration record. Public Interest Registry does not guarantee its
        accuracy. Users accessing the Public Interest Registry RDAP service agree
        to use the data only for lawful purposes, and under no c[...]
[...]
- request:
    body: ''
    headers:
      x-api-key:
      - 4b02d-a4719-e33e7-93128-5a5ff
    method: GET
    uri: https://api.domaintools.com/v1/feed/domainrdap/?after=-60&app_name=python_wrapper&app_version=2.4.1&header_authenticationn=false&top=2
  response:
    body:
      string: "{\"timestamp\":\"2025-05-14T15:55:43Z\",\"domain\":\"ashoreca.com.ua\",\"raw_record\":{\"first_request_timestamp\":\"2025-05-14T15:55:39Z\",\"requests\":[{\"data\":\"{\\\"rdapConformance\\\":[\\\"rdap_level_0\\\"],\\\"objectClassName\\\":\\\"domain\\\",\\\"handle\\\":\\\"ashoreca.com.ua\\\",\\\"ldhName\\\":\\\"ashoreca.com.ua\\\",\\\"nameservers\\\":[{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"ns1.promdns.net\\\"},{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"ns2.promdns.net\\\"},{\\\"objectClassName\\\":\\\"nameserver\\\",\\\"ldhName\\\":\\\"ns3.promdns.net\\\"}],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"handle\\\":\\\"ua.imena\\\",\\\"roles\\\":[\\\"registrar\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[
        \\\"version\\\", {}, \\\"text\\\", \\\"4.0\\\" ],[\\\"fn\\\",{},\\\"text\\\",\\\"Internet
        Invest LLC\\\"],[\\\"org\\\",{\\\"altid\\\":\\\"1\\\"},\\\"text\\\",\\\"Internet
        Invest LLC\\\"],[\\\"org\\\",{\\\"altid\\\":\\\"1\\\"},\\\"text\\\",\\\"\u0422\u041E\u0412
        '\u0406\u043D\u0442\u0435\u0440\u043D\u0435\u0442 \u0406\u043D\u0432\u0435\u0441\u0442'\\\"],[\\\"adr\\\",{\\\"type\\\":\\\"work\\\",\\\"altid\\\":\\\"1\\\"},\\\"text\\\",[\\\"\\\",\\\"\\\",\\\"50-B
        Simi Prakhovykh St\\\",\\\"Kyiv\\\",\\\"01033\\\",\\\"\\\",\\\"UA\\\"]],[\\\"adr\\\",{\\\"type\\\":\\\"work\\\",\\\"altid\\\":\\\"1\\\"},\\\"text\\\",[\\\"\\\",\\\"\\\",\\\"\u0432\u0443\u043B.
        \u0421\u0456\u043C'\u0457 \u041F\u0440\u0430\u0445\u043E\u0432\u0438\u0445,
        50-\u0411\\\",\\\"\u043C. \u041A\u0438\u0457\u0432\\\",\\\"01033\\\",\\\"\\\",\\\"UA\\\"]],[\\\"tel\\\",{\\\"type\\\":[\\\"voice\\\"]},\\\"uri\\\",\\\"tel:+380442010102\\\"],[\\\"email\\\",{},\\\"text\\\",\\\"abuse@imena.ua\\\"],[\\\"url\\\",{\\\"type\\\":\\\"home\\\"},\\\"uri\\\",\\\"http://www.imena.ua\\\"]]],\\\"status\\\":[\\\"active\\\"],\\\"links\\\":[{\\\"rel\\\":\\\"self\\\",\\\"value\\\":\\\"https://rdap.hostmaster.ua/entity/ua.imena\\\",\\\"type\\\":\\\"application/rdap+json\\\",\\\"href\\\":\\\"https://rdap.hostmaster.ua/entity/ua.imena\\\"}]},{\\\"objectClassName\\\":\\\"entity\\\",\\\"handle\\\":\\\"C0000929794-UA\\\",\\\"roles\\\":[\\\"registrant\\\",\\\"administrative\\\",\\\"technical\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[
        \\\"version\\\", {}, \\\"text\\\", \\\"4.0\\\" ],[\\\"fn\\\",{\\\"altid\\\":\\\"1\\\"},\\\"text\\\",\\\"Registrant
        information is not published\\\"],[\\\"fn\\\",{\\\"altid\\\":\\\"1\\\"},\\\"text\\\",\\\"\u0406\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0456\u044F
        \u043F\u0440\u043E \u0440\u0435\u0454\u0441\u0442\u0440\u0430\u043D\u0442\u0430
        \u043D\u0435 \u043F\u0443\u0431\u043B\u0456\u043A\u0443\u0454\u0442\u044C\u0441\u044F\\\"],[\\\"org\\\",{\\\"altid\\\":\\\"1\\\"},\\\"text\\\",\\\"Whois
        privacy protection service\\\"],[\\\"org\\\",{\\\"altid\\\":\\\"1\\\"},\\\"text\\\",\\\"\u0417\u0430\u0445\u0438\u0441\u0442
        \u043F\u0435\u0440\u0441\u043E\u043D\u0430\u043B\u044C\u043D\u0438\u0445 \u0434\u0430\u043D\u0438\u0445\\\"]]],\\\"remarks\\\":[{\\\"title\\\":\\\"Data
        Policy\\\",\\\"description\\\":[\\\"Some of the data in this object has been
        removed.\\\"]}],\\\"status\\\":[\\\"active\\\",\\\"associated\\\",\\\"private\\\"],\\\"events\\\":[{\\\"eventAction\\\":\\\"registration\\\",\\\"eventDate\\\":\\\"2013-04-08T22:19:45+03:00\\\",\\\"eventActor\\\":\\\"ua.imena\\\"},{\\\"eventAction\\\":\\\"last
        changed\\\",\\\"eventDate\\\":\\\"2015-11-18T10:57:28+02:00\\\",\\\"eventActor\\\":\\\"ua.imena\\\"}],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"handle\\\":\\\"ua.imena\\\",\\\"roles\\\":[\\\"registrar\\\"]}]}],\\\"status\\\":[\\\"client
        transfer prohibited\\\"],\\\"secureDNS\\\":{\\\"delegationSigned\\\":false},\\\"events\\\":[{\\\"eventAction\\\":\\\"registration\\\",\\\"eventDate\\\":\\\"2017-10-31T15:20:04+02:00\\\",\\\"eventActor\\\":\\\"ua.imena\\\"},{\\\"eventAction\\\":\\\"last
        changed\\\",\\\"eventDate\\\":\\\"2024-10-24T15:18:02+03:00\\\",\\\"eventActor\\\":\\\"ua.imena\\\"},{\\\"eventAction\\\":\\\"expiration\\\",\\\"eventDate\\\":\\\"2025-10-31T15:20:04+02:00\\\"}],\\\"links\\\":[{\\\"rel\\\":\\\"self\\\",\\\"value\\\":\\\"https://rdap.hostmaster.ua/domain/ashoreca.com.ua\\\",\\\"type\\\":\\\"application/rdap+json\\\",\\\"href\\\":\\\"https://rdap.hostmaster.ua/domain/ashoreca.com.ua\\\"}],\\\"port43\\\":\\\"whois.ua\\\"}\",\"source_type\":\"registry\",\"timestamp\":\"2025-05-14T15:55:39Z\",\"url\":\"https://rdap.hostmaster.ua/domain/ashoreca.com.ua\"}]},\"parsed_record\":{\"parsed_fields\":{\"conformance\":[\"rdap_level_0\"],\"contacts\":[{\"handle\":\"C0000929794-UA\",\"name\":\"\u0406\u043D\u0444\u043E\u0440\u043C\u0430\u0446\u0456\u044F
        \u043F\u0440\u043E \u0440\u0435\u0454\u0441\u0442\u0440\u0430\u043D\u0442\u0430
        \u043D\u0435 \u043F\u0443\u0431\u043B\u0456\u043A\u0443\u0454\u0442\u044C\u0441\u044F\",\"org\":\"\u0417\u0430\u0445\u0438\u0441\u0442
        \u043F\u0435\u0440\u0441\u043E\u043D\u0430\u043B\u044C\u043D\u0438\u0445 \u0434\u0430\u043D\u0438\u0445\",\"roles\":[\"registrant\",\"administrative\",\"technical\"]}],\"creation_date\":\"2017-10-31T15:20:04+02:00\",\"dnssec\":{\"signed\":false},\"domain\":\"ashoreca.com.ua\",\"domain_statuses\":[\"client
        transfer prohibited\"],\"email_domains\":[\"imena.ua\"],\"emails\":[\"abuse@imena.ua\"],\"expiration_date\":\"2025-10-31T15:20:04+02:00\",\"handle\":\"ashoreca.com.ua\",\"last_changed_date\":\"2024-10-24T15:18:02+03:00\",\"links\":[{\"href\":\"https://rdap.hostmaster.ua/domain/ashoreca.com.ua\",\"rel\":\"self\"}],\"nameservers\":[\"ns1.promdns.net\",\"ns2.promdns.net\",\"ns3.promdns.net\"],\"registrar\":{\"name\":\"Internet
        Invest LLC\"},\"unclassified_emails\":[\"abuse@imena.ua\"]},\"registrar_request_url\":null,\"registry_request_url\":\"https://rdap.hostmaster.ua/domain/ashoreca.com.ua\"}}\n{\"timestamp\":\"2025-05-14T15:55:43Z\",\"domain\":\"ehibar365.com\",\"raw_record\":{\"first_request_timestamp\":\"2025-05-14T15:55:37Z\",\"requests\":[{\"data\":\"{\\\"objectClassName\\\":\\\"domain\\\",\\\"handle\\\":\\\"2147267535_DOMAIN_COM-VRSN\\\",\\\"ldhName\\\":\\\"EHIBAR365.COM\\\",\\\"links\\\":[{\\\"value\\\":\\\"https:\\\\/\\\\/rdap.verisign.com\\\\/com\\\\/v1\\\\/domain\\\\/EHIBAR365.COM\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.verisign.com\\\\/com\\\\/v1\\\\/domain\\\\/EHIBAR365.COM\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\"},{\\\"value\\\":\\\"https:\\\\/\\\\/rdap.safenames.legal\\\\/rdap\\\\/domain\\\\/EHIBAR365.COM\\\",\\\"rel\\\":\\\"related\\\",\\\"href\\\":\\\"https:\\\\/\\\\/rdap.safenames.legal\\\\/rdap\\\\/domain\\\\/EHIBAR365.COM\\\",\\\"type\\\":\\\"application\\\\/rdap+json\\\"}],\\\"status\\\":[\\\"client
        delete prohibited\\\",\\\"client transfer prohibited\\\",\\\"client update
        prohibited\\\"],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"handle\\\":\\\"447\\\",\\\"roles\\\":[\\\"registrar\\\"],\\\"publicIds\\\":[{\\\"type\\\":\\\"IANA
        Registrar ID\\\",\\\"identifier\\\":\\\"447\\\"}],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"SafeNames
        Ltd.\\\"]]],\\\"entities\\\":[{\\\"objectClassName\\\":\\\"entity\\\",\\\"roles\\\":[\\\"abuse\\\"],\\\"vcardArray\\\":[\\\"vcard\\\",[[\\\"version\\\",{},\\\"text\\\",\\\"4.0\\\"],[\\\"fn\\\",{},\\\"text\\\",\\\"\\\"],[\\\"tel\\\",{\\\"type\\\":\\\"voice\\\"},\\\"uri\\\",\\\"tel:+44.1908200022\\\"],[\\\"email\\\",{},\\\"text\\\",\\\"abuse@safenames.net[...]
