interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/ignored/?app_name=python_wrapper&app_version=0.6.1&include_domain_data=false&offset=0
  response:
    content: '{"watchlist_domains":[{"state":"ignored","domain":"aberayowakkrjoamazon.com","status":"active","discovered_date":"2022-05-19T17:57:43.202000+00:00","changed_date":"2022-05-19T18:01:50.000000+00:00","risk_score":100,"risk_score_status":"provisional","risk_score_components":{"proximity":100,"threat_profile":{"phishing":99}},"mx_exists":false,"tld":"com","id":"ba49n90LEg","escalations":[],"monitor_ids":["DKObxJVjYJ"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-05-19T17:58:38.000000+00:00"},{"state":"ignored","domain":"googlestreetview.online","status":"active","discovered_date":"2022-05-19T11:43:48.226000+00:00","changed_date":"2022-05-19T12:04:58.000000+00:00","risk_score":18,"risk_score_status":"full","risk_score_components":{"proximity":4,"threat_profile":{"phishing":18,"malware":1,"spam":5,"evidence":[]}},"mx_exists":true,"tld":"online","id":"KW3Dl7vzap","escalations":[],"monitor_ids":["nAwmQg2pqg"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-05-19T17:56:08.000000+00:00"},{"state":"ignored","domain":"googleadspodcast.com","status":"active","discovered_date":"2022-05-19T05:47:59.201000+00:00","changed_date":"2022-05-19T07:43:59.000000+00:00","risk_score":52,"risk_score_status":"full","risk_score_components":{"proximity":10,"threat_profile":{"phishing":52,"malware":3,"spam":4,"evidence":["domain
      name","registrant","name server"]}},"mx_exists":false,"tld":"com","id":"7WKo18K9WR","escalations":[],"monitor_ids":["nAwmQg2pqg"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-05-19T17:50:35.000000+00:00"}],"total_count":3,"count":3,"offset":0,"limit":100}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/ignored/?app_name=python_wrapper&app_version=0.6.1&include_domain_data=false&monitor_id=DKObxJVjYJ&offset=0
  response:
    content: '{"watchlist_domains":[{"state":"ignored","domain":"aberayowakkrjoamazon.com","status":"active","discovered_date":"2022-05-19T17:57:43.202000+00:00","changed_date":"2022-05-19T18:01:50.000000+00:00","risk_score":100,"risk_score_status":"provisional","risk_score_components":{"proximity":100,"threat_profile":{"phishing":99}},"mx_exists":false,"tld":"com","id":"ba49n90LEg","escalations":[],"monitor_ids":["DKObxJVjYJ"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-05-19T17:58:38.000000+00:00"}],"total_count":1,"count":1,"offset":0,"limit":100}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/ignored/?app_name=python_wrapper&app_version=0.6.2&include_domain_data=false&monitor_id=DKObxJVjYJ&offset=0
  response:
    content: '{"watchlist_domains":[{"state":"ignored","domain":"aberayowakkrjoamazon.com","status":"active","discovered_date":"2022-05-19T17:57:43.202000+00:00","changed_date":"2022-05-19T18:01:50.000000+00:00","risk_score":100,"risk_score_status":"full","risk_score_components":{"proximity":100,"threat_profile":{"phishing":85,"malware":0,"spam":0,"evidence":["domain
      name","registrant","name server"]}},"mx_exists":false,"tld":"com","id":"ba49n90LEg","escalations":[],"monitor_ids":["DKObxJVjYJ"],"assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-05-19T17:58:38.000000+00:00"}],"total_count":1,"count":1,"offset":0,"limit":100}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
