interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/google.com/hosting-history?app_name=python_wrapper&app_version=1.0.1
  response:
    content: '{"response":{"domain_name":"google.com","ip_history":[{"domain":"GOOGLE.COM","post_ip":"216.239.57.99","pre_ip":null,"action":"N","actiondate":"2004-04-24","action_in_words":"New"},{"domain":"GOOGLE.COM","post_ip":"66.102.7.99","pre_ip":"216.239.57.99","action":"C","actiondate":"2004-05-08","action_in_words":"Change"},{"domain":"GOOGLE.COM","post_ip":"216.239.57.99","pre_ip":"66.102.7.99","action":"C","actiondate":"2004-05-15","action_in_words":"Change"},{"domain":"GOOGLE.COM","post_ip":"216.239.51.99","pre_ip":"216.239.57.99","action":"C","actiondate":"2004-05-22","action_in_words":"Change"},{"domain":"GOOGLE.COM","post_ip":"216.239.53.99","pre_ip":"216.239.51.99",[...]
[...]
