interactions:
  - request:
      body: app_name=python_wrapper&app_version=1.0.1&domain=google.com
      headers:
        content-type:
          - application/x-www-form-urlencoded
      method: POST
      uri: https://api.domaintools.com/v1/iris-enrich/
    response:
      content:
        '{"response":{"limit_exceeded":false,"message":"Enjoy your data.","results_count":1,"results":[{"domain":"google.com","whois_url":"https:\/\/whois.domaintools.com\/google.com","adsense":{"value":""},"alexa":1,"popularity_rank":1,"active":true,"google_analytics":{"value":""},"admin_contact":{"name":{"value":""},"org":{"value":"Google
        LLC"},"street":{"value":""},"city":{"value":""},"state":{"value":"CA"},"postal":{"value":""},"country":{"value":"us"},"phone":{"value":""},"fax":{"value":""},"email":[{"value":"select
        request email form at https:\/\/domains.markmonitor.com\/whois\/google.com"}]},"billing_contact":{"name":{"value":""},"org":{"value":""},"street":{"value":""},"city":{"value":""},"state":{"value":""},"postal":{"value":""},"country":{"value":""},"phone":{"value":""},"fax":{"value":""},"email":[]},"registrant_contact":{"name":{"value":""},"org":{"value":"Google
        LLC"},"street":{"value":""},"city":{"value":""},"state":{"value":"CA"},"postal":{"value":""},"country":{"value":"us"},"phone":{"value":""},"fax":{"value":""},"email":[{"value":"select
        request email form at https:\/\/domains.markmonitor.com\/whois\/google.com"}]},"technical_contact":{"name":{"value":""},"org":{"value":"Google
        LLC"},"street":{"value":""},"city":{"value":""},"state":{"value":"CA"},"postal":{"value":""},"country":{"value":"us"},"phone":{"value":""},"fax":{"value":""},"email":[{"value":"select
        request email form at https:\/\/domains.markmonitor.com\/whois\/google.com"}]},"create_date":{"value":"1997-09-15"},"expiration_date":{"value":"2028-09-14"},"email_domain":[{"value":"markmonitor.com"},{"value":"google.com"}],"soa_email":[{"value":"dns-admin@google.com"}],"ssl_email":[],"additional_whois_email":[{"value":"abusecomplaints@markmonitor.com"},{"value":"whoisrequest@markmonitor.com"}],"ip":[{"address":{"value":"142.251.33.78"},"asn":[{"value":15169}],"country_code":{"value":"US"},"isp":{"value":"Google"}},{"address":{"value":"142.251.33.68"},"asn":[{"value":15169}],"country_code":{"value":"US"},"isp":{"value":"Google"}}],"mx":[{"host":{"value":"smtp.google.com"},"domain":{"value":"google.com"},"ip":[{"value":"74.125.142.27"},{"value":"74.125.195.26"},{"value":"74.125.142.26"},{"value":"74.125.197.27"},{"value":"74.125.195.27"}],"priority":10}],"name_server":[{"host":{"value":"ns3.google.com"},"domain":{"value":"google.com"},"ip":[{"value":"216.239.36.10"}]},{"host":{"value":"ns2.google.com"},"domain":{"value":"google.com"},"ip":[{"value":"216.239.34.10"}]},{"host":{"value":"ns1.google.com"},"domain":{"value":"google.com"},"ip":[{"value":"216.239.32.10"}]},{"host":{"value":"ns4.google.com"},"domain":{"value":"google.com"},"ip":[{"value":"216.239.38.10"}]}],"domain_risk":{"risk_score":0,"components":[{"name":"zerolist","risk_score":0},{"name":"threat_profile","risk_score":0},{"name":"threat_profile_malware","risk_score":0},{"name":"threat_profile_phishing","risk_score":0},{"name":"threat_profile_spam","risk_score":0}]},"redirect":{"value":""},"redirect_domain":{"value":""},"registrant_name":{"value":""},"registrant_org":{"value":"Google
        LLC"},"registrar":{"value":"MarkMonitor, Inc."},"registrar_status":["clientdeleteprohibited","clienttransferprohibited","clientupdateprohibited","serverdeleteprohibited","servertransferprohibited","serverupdateprohibited"],"spf_info":"","ssl_info":[{"hash":{"value":"fcebe5bb73f9541e544eb1a784ada0b35060412b"},"subject":{"value":"CN=www.google.com"},"organization":{"value":""},"email":[]}],"tld":"com","website_response":200,"data_updated_timestamp":"2022-06-16T08:32:34.177000","tags":[]}],"missing_domains":[]}}'
      headers:
        Content-Type:
          - application/json;charset=utf-8
        X-TIME:
          - "87727"
      status_code: 200
version: 1
