interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/account?app_name=python_wrapper&app_version=0.6.1
  response:
    content: '{"response":{"account":{"api_username":"integrations_testing","active":true},"products":[{"id":"account-information","per_month_limit":"100000","per_minute_limit":"5","absolute_limit":null,"usage":{"today":"0","month":"22"},"expiration_date":null},{"id":"iris-investigate","per_month_limit":"1000","per_minute_limit":"20","absolute_limit":null,"usage":{"today":"0","month":"3"},"expiration_date":null},{"id":"iris-enrich","per_month_limit":"1000","per_minute_limit":"20","absolute_limit":null,"usage":{"today":"0","month":"3"},"expiration_date":null},{"id":"iris-detect-escalate-domains","per_month_limit":"1500","per_minute_limit":"30","absolute_limit":null,"usage":{"today":"0","month":"2"},"expiration_date":null},{"id":"iris-detect-ignore[...]
