interactions:
  - request:
      body:
        '{"app_name": "python_wrapper", "app_version": "1.0.1", "state": "watched",
        "watchlist_domain_ids": ["gae08rdVWG"]}'
      headers:
        content-type:
          - application/json
      method: PATCH
      uri: https://api.domaintools.com/v1/iris-detect/domains/
    response:
      content: '{"watchlist_domains":[{"state":"watched","domain":"googletalker.com.cn","discovered_date":"2022-05-17T20:25:12.128000+00:00","changed_date":"2022-06-16T10:04:49.000000+00:00","id":"gae08rdVWG","assigned_by":"integrations+test1@domaintools.com","assigned_date":"2022-06-16T15:03:53.000000+00:00"}]}'
      headers:
        Content-Type:
          - application/json
      status_code: 200
version: 1
