interactions:
  - request:
      body: app_name=python_wrapper&app_version=1.0.1&domain=amazon.com%2Cgoogle.com
      headers:
        content-type:
          - application/x-www-form-urlencoded
      method: POST
      uri: https://api.domaintools.com/v1/iris-investigate/
    response:
      content:
        '{"response":{"limit_exceeded":false,"has_more_results":false,"message":"Enjoy
        your data.","results_count":2,"total_count":2,"results":[{"domain":"amazon.com","whois_url":"https:\/\/whois.domaintools.com\/amazon.com","adsense":{"value":"","count":0},"alexa":8,"popularity_rank":27,"active":true,"google_analytics":{"value":"","count":0},"admin_contact":{"name":{"value":"Hostmaster,
        Amazon Legal Dept.","count":27187},"org":{"value":"Amazon Technologies, Inc.","count":45583},"street":{"value":"P.O.
        Box 8102","count":34097},"city":{"value":"Reno","count":105038},"state":{"value":"NV","count":683652},"postal":{"value":"89507","count":34876},"country":{"value":"us","count":234308123},"phone":{"value":"12062664064","count":35715},"fax":{"value":"12062667010","count":33243},"email":[{"value":"hostmaster@amazon.com","count":37110}]},"billing_contact":{"name":{"value":"","count":0},"org":{"value":"","count":0},"street":{"value":"","count":0},"city":{"value":"","count":0},"state":{"value":"","count":0},"postal":{"value":"","count":0},"country":{"value":"","count":0},"phone":{"value":"","count":0},"fax":{"value":"","count":0},"email":[]},"registrant_contact":{"name":{"value":"Hostmaster,
        Amazon Legal Dept.","count":27187},"org":{"value":"Amazon Technologies, Inc.","count":45583},"street":{"value":"P.O.
        Box 8102","count":34097},"city":{"value":"Reno","count":105038},"state":{"value":"NV","count":683652},"postal":{"value":"89507","count":34876},"country":{"value":"us","count":234308123},"phone":{"value":"12062664064","count":35715},"fax":{"value":"12062667010","count":33243},"email":[{"value":"hostmaster@amazon.com","count":38463}]},"technical_contact":{"name":{"value":"Hostmaster,
        Amazon Legal Dept.","count":27187},"org":{"value":"Amazon Technologies, Inc.","count":45583},"street":{"value":"P.O.
        Box 8102","count":34097},"city":{"value":"Reno","count":105038},"state":{"value":"NV","count":683652},"postal":{"value":"89507","count":34876},"country":{"value":"us","count":234308123},"phone":{"value":"12062664064","count":35715},"fax":{"value":"12062667010","count":33243},"email":[{"value":"hostmaster@amazon.com","count":33814}]},"create_date":{"value":"1994-11-01","count":192},"expiration_date":{"value":"2024-10-31","count":15687},"email_domain":[{"value":"markmonitor.com","count":1502376},{"value":"amazon.com","count":4301330}],"soa_email":[{"value":"root@amazon.com","count":7028}],"ssl_email":[],"additional_whois_email":[{"value":"abusecomplaints@markmonitor.com","count":1246820},{"value":"whoisrequest@markmonitor.com","count":229155}],"ip":[{"address":{"value":"54.239.28.85","count":437},"asn":[{"value":16509,"count":57795831}],"country_code":{"value":"US","count":293747344},"isp":{"value":"Amazon
        Technologies Inc.","count":32225085}},{"address":{"value":"176.32.103.205","count":325},"asn":[{"value":16509,"count":57795831}],"country_code":{"value":"US","count":293747344},"isp":{"value":"Prod
        Iad","count":422}},{"address":{"value":"205.251.242.103","count":519},"asn":[{"value":16509,"count":57795831}],"country_code":{"value":"US","count":293747344},"isp":{"value":"Amazon.com
        Inc.","count":25953966}},{"address":{"value":"99.84.76.105","count":5},"asn":[{"value":16509,"count":57795831}],"country_code":{"value":"US","count":293747344},"isp":{"value":"Amazon.com
        Inc.","count":25953966}}],"mx":[{"host":{"value":"amazon-smtp.amazon.com","count":184},"domain":{"value":"amazon.com","count":289},"ip":[{"value":"207.171.188.204","count":10}],"priority":5}],"name_server":[{"host":{"value":"ns2.p31.dynect.net","count":5412},"domain":{"value":"dynect.net","count":205617},"ip":[{"value":"108.59.162.31","count":5216}]},{"host":{"value":"pdns1.ultradns.net","count":124568},"domain":{"value":"ultradns.net","count":563673},"ip":[{"value":"204.74.108.1","count":75973}]},{"host":{"value":"ns4.p31.dynect.net","count":5353},"domain":{"value":"dynect.net","count":205617},"ip":[{"value":"108.59.164.31","count":5179}]},{"host":{"value":"ns1.p31.dynect.net","count":5408},"domain":{"value":"dynect.net","count":205617},"ip":[{"value":"108.59.161.31","count":5215}]},{"host":{"value":"pdns6.ultradns.co.uk","count":115193},"domain":{"value":"ultradns.co.uk","count":123545},"ip":[{"value":"204.74.115.1","count":70019}]},{"host":{"value":"ns3.p31.dynect.net","count":5364},"domain":{"value":"dynect.net","count":205617},"ip":[{"value":"108.59.163.31","count":5184}]}],"domain_risk":{"risk_score":0,"components":[{"name":"zerolist","risk_score":0},{"name":"threat_profile","risk_score":0},{"name":"threat_profile_malware","risk_score":0},{"name":"threat_profile_phishing","risk_score":0},{"name":"threat_profile_spam","risk_score":0}]},"redirect":{"value":"","count":0},"redirect_domain":{"value":"","count":0},"registrant_name":{"value":"Hostmaster,
        Amazon Legal Dept.","count":27064},"registrant_org":{"value":"Amazon Technologies,
        Inc.","count":45460},"registrar":{"value":"MarkMonitor, Inc.","count":834849},"registrar_status":["clientdeleteprohibited","clienttransferprohibited","clientupdateprohibited","serverdeleteprohibited","servertransferprohibited","serverupdateprohibited"],"spf_info":"","ssl_info":[{"hash":{"value":"08040755c8b6852a5db945a2b380571111defd2d","count":6},"subject":{"value":"CN=*.peg.a2z.com","count":6},"organization":{"value":"","count":0},"email":[]}],"tld":"com","website_response":308,"data_updated_timestamp":"2022-06-16T09:11:14.798000","tags":[]},{"domain":"google.com","whois_url":"https:\/\/whois.domaintools.com\/google.com","adsense":{"value":"","count":0},"alexa":1,"popularity_rank":1,"active":true,"google_analytics":{"value":"","count":0},"admin_contact":{"name":{"value":"","count":0},"org":{"value":"Google
        LLC","count":19639},"street":{"value":"","count":0},"city":{"value":"","count":0},"state":{"value":"CA","count":14122845},"postal":{"value":"","count":0},"country":{"value":"us","count":234308123},"phone":{"value":"","[...]
