interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/199.30.228.112/host-domains?app_name=python_wrapper&app_version=0.6.1
  response:
    content: '{"response":{"ip_addresses":{"ip_address":"199.30.228.112","domain_count":4,"domain_names":["DOMAINTOOLS.COM","USB.VN","WHOISAPI.COM","WHOISSUGGEST.COM"]}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '7081'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/199.30.228.112/host-domains?app_name=python_wrapper&app_version=0.6.2
  response:
    content: '{"response":{"ip_addresses":{"ip_address":"199.30.228.112","domain_count":4,"domain_names":["DOMAINTOOLS.COM","USB.VN","WHOISAPI.COM","WHOISSUGGEST.COM"]}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '5007'
    status_code: 200
version: 1
