interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/name-server-monitor?app_name=python_wrapper&app_version=0.6.1&days_back=0&page=1&query=google.com
  response:
    content: '{"response":{"limit":1000,"date":"2022-05-20","name_server":"google.com","total":"100","page":1,"page_count":1,"alerts":[{"new_name_server":"google.com","old_name_server":"","action":"New","domain":"106GGOLARO.COM"},{"new_name_server":"google.com","old_name_server":"cloudflare.com","action":"Transfer
      In","domain":"120GKASAM.COM"},{"new_name_server":"google.com","old_name_server":"cloudflare.com","action":"Transfer
      In","domain":"188TOTOBO.COM"},{"new_name_server":"google.com","old_name_server":"cloudflare.com","action":"Transfer
      In","domain":"18GGOLARO.COM"},{"new_name_server":"google.com","old_name_server":"","action":"New","domain":"224GOLARO.COM"},{"new_name_server":"go[...]
