interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/reverse-ip-whois?app_name=python_wrapper&app_version=1.0.0&include_total_count=false&page=1&query=DomainTools
  response:
    content: '{"response":{"records":[{"ip_from":"199.30.228.0","ip_to":"199.30.231.255","record_ip":"199.30.228.13","record_date":"2022-06-14","country":"US","range":"199.30.228.0\/22","organization":"DomainTools,
      LLC","server":"whois.arin.net","short_record_ip":"199.30.228.13"},{"ip_from":"64.246.165.128","ip_to":"64.246.165.255","record_ip":"64.246.165.240","record_date":"2022-06-14","country":"US","range":"64.246.165.128\/25","organization":"DomainTools,
      LLC","server":"whois.arin.net","short_record_ip":"64.246.165.240"},{"ip_from":"64.246.165.48","ip_to":"64.246.165.51","record_ip":"64.246.165.48","record_date":"2022-06-12","country":"US","range":"64.246.165.48\/30","organization":"DomainTools,
      LLC","server":"whois.arin.net","short_record[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/reverse-ip-whois?app_name=python_wrapper&app_version=1.0.0&include_total_count=false&ip=65.55.53.233&page=1
  response:
    content: '{"response":{"whois_record":"NetRange:       65.52.0.0 - 65.55.255.255\nCIDR:           65.52.0.0\/14\nNetName:        MICROSOFT-1BLK\nNetHandle:      NET-65-52-0-0-1\nParent:         NET65
      (NET-65-0-0-0-0)\nNetType:        Direct Allocation\nOriginAS:       \nOrganization:   Microsoft
      Corporation (MSFT)\nRegDate:        2001-02-14\nUpdated:        2021-12-14\nRef:            https:\/\/rdap.arin.net\/registry\/ip\/65.52.0.0\n\nOrgName:        Microsoft
      Corporation\nOrgId:          MSFT\nAddress:        One Microsoft Way\nCity:           Redmond\nStateProv:      WA\nPostalCode:     98052\nCountry:        US\nRegDate:        1998-07-10\nUpdated:        2022-03-28\nComment:        To
      report suspected security issues specific to traffic emanating from Microsoft
      online services, including the distribution of malicious content or other illicit
      or illegal material through a Microsoft online service, please submit reports
      to:\nComment:        * https:\/\/cert.microsoft.com.  \nComment:        \nComment:        For
      SPAM and other abuse issues, such as Microsoft Accounts, please contact:\nComment:        *
      abuse@microsoft.com.  \nComment:        \nComment:        To report security
      vulnerabilities in Microsoft products and services, please contact:\nComment:        *
      secure@microsoft.com.  \nComment:        \nComment:        For legal and law
      enforcement-related requests, please contact:\[...]
