interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/new/?include_domain_data=false&offset=0
  response:
    body:
      string: '{"watchlist_domains":[{"state":"new","domain":"anunfinishedlifethemovie.com","status":"active","discovered_date":"2022-03-07T21:06:07.445000+00:00","changed_date":"2022-03-07T21:06:07.445000+00:00","risk_score":null,"risk_score_status":null,"mx_exists":false,"tld":"com","id":"gaeM5xp6aG","escalations":[],"monitor_ids":["z5nbgnRm9w"],"registrant_contact_email":["anunfinishedlifethemovie.com@dnic.jewellaprivacy.com"],"name_server":[{"host":"expired-domain-ns50.directnic.com"},{"host":"expired-domain-ns51.directnic.com"}],"registrar":"DNC
        Holdings, Inc","create_date":20191218,"ip":[{"country_code":"US","ip":"72.52.179.174","isp":"Liquid
        Web L.L.C"}],"mx":[{"host":"mail.nickstel.com"}]},{"state":"new","domain":"togetherweirse.org","status":"active","discovered_date":"2022-03-07T21:05:51.976000+00:00","changed_date":"2022-03-07T21:05:51.976000+00:00","risk_score":null,"risk_score_status":null,"mx_exists":false,"tld":"org","id":"ZWrmqAgqPd","escalations":[],"monitor_ids":["z5nbgnRm9w"]},{"state":"new","domain":"cmcethmng.com","status":"active","discovered_date":"2022-03-07T21:05:34.332000+00:00","changed_date":"2022-03-07T21:05:48.000000+00:00","risk_score":null,"risk_score_status":null,"mx_exists":false,"tld":"com","id":"qP1ZN0p5W7","escalations":[],"monitor_ids":["z5nbgnRm9w"]},{"state":"new","domain":"razomukraine.org","status":"active","discovered_date":"2022-03-07T21:03:51.730000+00:00","changed_date":"2022-03-07T21:04:21.000000+00:00","risk_score":30,"risk_score_status":"provisional","risk_score_components":{"proximity":30},"mx_exists":false,"tld":"org","id":"jWRlkv1vE4","escalations":[],"monitor_ids":["ND2pMOGmL8"],"registrant_contact_email":[],"registrar":"Sav.com,
        LLC","create_date":20220307},{"state":"new","domain":"essaytogetherguadeloupe.online","status":"active","discovered_date":"2022-03-07T21:03:50.151000+00:00","changed_date":"2022-03-07T21:04:31.000000+00:00","risk_score":39,"risk_score_status":"provisional","risk_score_components":{"proximity":39},"mx_exists":false,"tld":"online","id":"ZWrmq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/new/?include_domain_data=false&monitor_id=QEMba7ljxo&offset=0&order=desc&sort%5B%5D=risk_score
  response:
    body:
      string: '{"watchlist_domains":[{"state":"new","domain":"investor-amazon.biz","status":"active","discovered_date":"2021-12-07T16:41:46.255000+00:00","changed_date":"2021-12-07T16:43:10.000000+00:00","risk_score":100,"risk_score_status":"full","risk_score_components":{"proximity":100,"threat_profile":{"phishing":99,"malware":87,"spam":59,"evidence":["domain
        name","name server","registrant"]}},"mx_exists":false,"tld":"biz","id":"8Ya2m86nWo","escalations":[],"monitor_ids":["QEMba7ljxo"],"registrant_contact_email":["please
        query the rdds service of the registrar of record identified in this output
        for information on how to contact the registrant, admin, or tech contact of
        the queried domain name."],"name_server":[{"host":"fonzie.ns.cloudflare.com"},{"host":"vita.ns.cloudflare.com"}],"registrar":"Sav.com
       [...]
