interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/risk?app_name=python_wrapper&app_version=1.0.1&domain=google.com
  response:
    content: '{"response":{"domain":"google.com","risk_score":0,"components":[{"name":"zerolist","risk_score":0}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '22556'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/risk?app_name=python_wrapper&app_version=1.0.1&domain=hug.rest
  response:
    content: '{"response":{"domain":"hug.rest","risk_score":7,"components":[{"name":"proximity","risk_score":7}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '21940'
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/risk?app_name=python_wrapper&app_version=2.0.0&domain=hug.rest
  response:
    content: '{"response":{"domain":"hug.rest","risk_score":74,"components":[{"name":"proximity","risk_score":20},{"name":"threat_profile","risk_score":74},{"name":"threat_profile_phishing","risk_score":74},{"name":"threat_profile_malware","risk_score":17},{"name":"threat_profile_spam","risk_score":63}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-TIME:
      - '21740'
    status_code: 200
version: 1
