interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.domaintools.com/v1/iris-detect/domains/new/?app_name=python_wrapper&app_version=0.6.1&include_domain_data=false&monitor_id=nAwmQg2pqg&offset=0&order=desc&sort%5B%5D=risk_score
  response:
    content: '{"watchlist_domains":[{"state":"new","domain":"googlepi.tk","status":"active","discovered_date":"2022-05-18T03:11:40.400000+00:00","changed_date":"2022-05-18T03:11:52.000000+00:00","risk_score":100,"risk_score_status":"full","risk_score_components":{"proximity":100,"threat_profile":{"phishing":93,"malware":2,"spam":44,"evidence":["domain
      name","name server","registrant"]}},"mx_exists":false,"tld":"tk","id":"gWlokxpyP7","escalations":[],"monitor_ids":["nAwmQg2pqg"]},{"state":"new","domain":"foogle.top","status":"active","discovered_date":"2022-05-18T04:26:58.173000+00:00","changed_date":"2022-05-19T22:35:08.000000+00:00","risk_score":100,"risk_score_status":"full","risk_score_components":{"proximity":100,"threat_profile":{"phishing":98,"malware":40,"spam":96,"evidence":["registrant","domain
      name","registrar"]}},"mx_exists":false,"tld":"top","id":"AaLjlRzOP0","escalations":[],"monitor_ids":["nAwmQg2pqg"]},{"state":"new","domain":"baigoo[...]
[...]
