interactions:
- request:
    body: escalation_type=blocked&watchlist_domain_ids%5B%5D=mPjGyweeWA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.domaintools.com/v1/iris-detect/escalations/
  response:
    body:
      string: '{"escalations":[{"watchlist_domain_id":"mPjGyweeWA","escalation_type":"blocked","id":"9WZbNeAg0w","created_date":"2022-03-09T19:10:34.056510+00:00","updated_date":"2022-03-09T19:10:34.056510+00:00","created_by":"cwoodraska@domaintools.com"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
